openapi: 3.1.0
info:
  title: Joutes API
  description: >
    REST API for Joutes, a companion platform for trading card game communities
    (collection tracking, decks, news, quizzes, scanner/OCR card recognition,
    events, lairs, leagues, friends, play groups, wishlists and sell lists).
    Most endpoints require an authenticated session created via the
    `/auth/*` endpoints (Better Auth). A few write endpoints additionally
    require a specific permission (e.g. `news:update`, `scanner:ai`) or
    admin status - this is noted in each operation's description.
  version: "2.0.0"
servers:
  - url: https://joutes.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
tags:
  - name: Auth
    description: Authentication, OAuth2/OIDC provider and session management (Better Auth).
  - name: Collection
    description: Personal card collection, booster/pack tracking and collection completion stats.
  - name: Cubes
    description: User-built cubes - packs of cards with visibility rules and distribution statistics.
  - name: Decks
    description: Public and private deck lists linked to a game.
  - name: Docs
    description: This OpenAPI document.
  - name: Events
    description: Tournament / event calendar entries tied to lairs.
  - name: Friends
    description: Friend list, friend requests and friend codes.
  - name: Game Matches
    description: Casual game match invitations/joining.
  - name: Games
    description: Game catalog, cards, rules, policies, news, quizzes and scanner recognition per game.
  - name: Lairs
    description: Game stores / venues ("lairs") that host events.
  - name: Leagues
    description: League rankings (league CRUD itself is a server action, not a REST endpoint).
  - name: News
    description: News articles, optionally linked to a game.
  - name: Play Groups
    description: Shared groups for pooled collections, wishlists and sell lists.
  - name: Quizzes
    description: Quizzes, optionally linked to a game.
  - name: Sell Lists
    description: Cards a user or play group is offering for sale.
  - name: Upload
    description: Generic admin file upload to blob storage.
  - name: Users
    description: Public user profiles, and a user's public wishlists/sell list.
  - name: Wishlists
    description: Cards a user or play group is looking for.
  - name: Cron
    description: Internal scheduled jobs, protected by a shared secret. Not intended for client use.
paths:
  # ---------------------------------------------------------------- Auth
  /auth/{path}:
    parameters:
      - name: path
        in: path
        required: true
        description: >
          Catch-all segment(s) handled by Better Auth, e.g. `sign-in/email-otp`,
          `sign-out`, `session`, `oauth2/authorize`, `oauth2/token`,
          `oauth2/register`, `jwks`, passkey and email-OTP routes. The exact
          set of sub-routes is defined by the Better Auth plugins configured
          in `lib/auth.ts` (email OTP, passkey, JWT, OAuth provider, Discord
          social sign-in) and is not exhaustively enumerable here.
        schema:
          type: string
    get:
      tags: [Auth]
      summary: Better Auth catch-all (read operations)
      description: Delegates to Better Auth's internal handler (e.g. session lookup, OAuth2 authorize, JWKS).
      security: []
      responses:
        "200":
          description: Response shape depends on the Better Auth sub-route invoked.
    post:
      tags: [Auth]
      summary: Better Auth catch-all (write operations)
      description: Delegates to Better Auth's internal handler (e.g. sign-in, sign-out, OAuth2 token exchange, passkey registration).
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Body shape depends on the Better Auth sub-route invoked.
      responses:
        "200":
          description: Response shape depends on the Better Auth sub-route invoked.

  /auth/.well-known/oauth-authorization-server:
    get:
      tags: [Auth]
      summary: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      description: Framework-generated discovery document for the Better Auth OAuth provider plugin.
      security: []
      responses:
        "200":
          description: OAuth 2.0 authorization server metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer: { type: string }
                  authorization_endpoint: { type: string }
                  token_endpoint: { type: string }
                  registration_endpoint: { type: string }
                  jwks_uri: { type: string }
                  response_types_supported: { type: array, items: { type: string } }
                  grant_types_supported: { type: array, items: { type: string } }
                  scopes_supported: { type: array, items: { type: string } }

  /auth/.well-known/openid-configuration:
    get:
      tags: [Auth]
      summary: OpenID Connect Discovery document
      description: Framework-generated OIDC discovery metadata for the Better Auth OAuth provider plugin.
      security: []
      responses:
        "200":
          description: OpenID Connect discovery metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer: { type: string }
                  authorization_endpoint: { type: string }
                  token_endpoint: { type: string }
                  userinfo_endpoint: { type: string }
                  jwks_uri: { type: string }
                  response_types_supported: { type: array, items: { type: string } }
                  subject_types_supported: { type: array, items: { type: string } }
                  scopes_supported: { type: array, items: { type: string } }

  # ---------------------------------------------------------------- Collection
  /collection:
    get:
      tags: [Collection]
      summary: Get the caller's collection overview across all games
      security: [{ sessionAuth: [] }]
      parameters:
        - name: includeEmpty
          in: query
          description: When `true`, include games with 0% completion (default only shows games the user owns at least one item in).
          schema: { type: string, enum: ["true", "false"] }
      responses:
        "200":
          description: Collection overview.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionOverview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/cards:
    get:
      tags: [Collection]
      summary: List the caller's collected cards (grouped by printing)
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: gameSlug, in: query, description: "Exact slug match only (no ObjectId fallback).", schema: { type: string } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, description: "Card type filter.", schema: { type: string } }
      responses:
        "200":
          description: Grouped collection cards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        setCode: { type: string }
                        collectorNumber: { type: string }
                        image: { type: string }
                        quantity: { type: integer }
                  total: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Collection]
      summary: Add a single card to the caller's collection
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionCardInput" }
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties: { id: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /collection/cards/{cardId}:
    parameters:
      - { name: cardId, in: path, required: true, description: "Catalog card id (not a collection entry id).", schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get every owned copy of a catalog card
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Owned copies of the card.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quantity: { type: integer }
                  cards:
                    type: array
                    items: { $ref: "#/components/schemas/CollectionCardEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [Collection]
      summary: Mark/unmark a specific collection entry as borrowed
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, borrowedBy]
              additionalProperties: false
              properties:
                entryId: { type: string, minLength: 1, maxLength: 100 }
                borrowedBy: { type: string, minLength: 1, maxLength: 100, nullable: true, description: "Pass null to clear." }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties: { id: { type: string }, borrowedBy: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove an owned copy of a catalog card
      security: [{ sessionAuth: [] }]
      parameters:
        - name: entryId
          in: query
          description: Specific collection entry id to delete. If omitted, an arbitrary matching copy is removed.
          schema: { type: string }
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/games/{gameSlug}:
    parameters:
      - { name: gameSlug, in: path, required: true, description: "Game slug or Mongo ObjectId.", schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get the caller's collection completion for a specific game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: search, in: query, description: "Case-insensitive substring match on card name.", schema: { type: string } }
        - { name: owned, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Game collection page with completion stats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        setCode: { type: string }
                        collectorNumber: { type: string }
                        image: { type: string }
                        type: { type: string }
                        quantity: { type: integer }
                        variantsOwned: { type: integer }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  setCodes: { type: array, items: { type: string } }
                  types: { type: array, items: { type: string } }
                  stats: { $ref: "#/components/schemas/GameCollectionStats" }
                  game:
                    type: object
                    properties: { id: { type: string }, name: { type: string }, slug: { type: string } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/variants:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: List all owned printings/variants of a card by exact name
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: name, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Array of card variants (raw array, not wrapped).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    setCode: { type: string }
                    collectorNumber: { type: string }
                    image: { type: string }
                    type: { type: string }
                    quantity: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/games/{gameSlug}/export:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Export the caller's collection for a game as CSV
      description: >
        Returns the CSV file itself (`text/csv`, with a `Content-Disposition` filename), not JSON.
        Copies are grouped: one row per set of interchangeable copies, with a quantity — the
        collection stores one document per copy, which would otherwise mean thousands of rows.
        `format` is one of the formats the game offers: `joutes` is common to every game and
        carries every field, the others mirror a third-party tool and may drop what they have no
        column for.
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: format, in: query, description: "Defaults to `joutes`.", schema: { type: string, example: piltover-archive } }
      responses:
        "200":
          description: The CSV file.
          headers:
            Content-Disposition: { schema: { type: string } }
          content:
            text/csv: { schema: { type: string } }
        "400": { description: Unknown format for this game., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/import:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Add copies to the caller's collection from a CSV file
      description: >
        Copies read from the file are **added**; nothing is replaced or removed, so importing the
        same file twice doubles those copies. A line the catalog cannot match is reported in
        `issues` and skipped — the rest of the file is still imported, since a third-party export
        routinely holds a few cards this catalog does not know.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format, csv]
              properties:
                format: { type: string, example: piltover-archive }
                csv: { type: string, description: "Raw file contents, 5 MB at most." }
      responses:
        "200":
          description: Import summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  added: { type: integer, description: "Copies inserted." }
                  rows: { type: integer, description: "File lines retained." }
                  issues:
                    type: array
                    items:
                      type: object
                      properties: { line: { type: integer }, message: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { description: File too large, or too many copies for a single import., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/ownership:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Count owned copies of the given card names, broken down by printing
      description: >-
        For each requested card name, the number of copies the caller owns, in total
        (every catalog printing sharing that name) and per printing. Names owned in
        zero copies are simply absent from the response.
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: names, in: query, required: true, description: "Exact card name; repeat the parameter for several cards (120 max).", schema: { type: array, items: { type: string } } }
        - { name: excludeBooster, in: query, required: false, description: "Booster id whose copies are left out of the counts (they are already listed by the caller).", schema: { type: string } }
      responses:
        "200":
          description: Owned copies keyed by card name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownership:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        total: { type: integer, description: "Copies owned, every printing of that name included." }
                        printings:
                          type: object
                          description: "Copies owned per printing, keyed by `setCode|collectorNumber`."
                          additionalProperties: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/boosters:
    get:
      tags: [Collection]
      summary: List the caller's boosters/packs for a game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: gameSlug, in: query, required: true, schema: { type: string } }
        - name: type
          in: query
          required: false
          description: >-
            Filter on a booster type available for the game. `other` also matches
            boosters stored without a type, and the legacy value `custom` is
            accepted as an alias of `other`; any other value is rejected.
          schema: { type: string }
        - name: cards
          in: query
          required: false
          description: >-
            Comma-separated card ids. Only boosters containing **every** listed
            card are returned. An id absent from the game's cards stays an active
            filter and simply matches nothing; duplicates are collapsed, and at
            most 10 ids are kept.
          schema: { type: string }
          example: OGN001,OGN042
        - { name: sort, in: query, required: false, schema: { type: string, enum: [newest, oldest], default: newest } }
        - { name: page, in: query, required: false, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 100 } }
      responses:
        "200":
          description: Boosters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  boosters: { type: array, items: { $ref: "#/components/schemas/Booster" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Collection]
      summary: Create an empty booster to fill in
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameSlug, setCode, lang]
              properties:
                gameSlug: { type: string }
                setCode: { type: string }
                lang: { type: string }
                type:
                  type: string
                  default: other
                  description: >-
                    Booster type. Must be one of the types available for the game
                    (`other` is always accepted); any other value is rejected.
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get a booster
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Booster.
          content:
            application/json:
              schema: { type: object, properties: { booster: { $ref: "#/components/schemas/Booster" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Collection]
      summary: Update a booster's details
      description: At least one of `type` or `note` must be provided; omitted fields are left unchanged.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [type]
                - required: [note]
              properties:
                type:
                  type: string
                  description: >-
                    Booster type. Must be one of the types available for the game
                    (`other` is always accepted); any other value is rejected.
                note:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: >-
                    Free-form note, trimmed before storage. `null` or an empty
                    string clears the existing note.
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  type: { type: string, description: Present only when the type was updated. }
                  note: { type: string, nullable: true, description: Present only when the note was updated; `null` when it was cleared. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Delete a booster and its cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}/cards:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Add a card to a booster
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, setCode]
              properties:
                name: { type: string }
                setCode: { type: string }
                cardId: { type: string }
                collectorNumber: { type: string, default: "" }
                image: { type: string, default: "" }
                lang: { type: string }
                subtitle: { type: string }
                foil: { type: boolean }
      responses:
        "200": { description: Added., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Collection]
      summary: Toggle a booster card's foil status
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, foil]
              properties: { entryId: { type: string }, foil: { type: boolean } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove a card from a booster
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: entryId, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}/collection:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Copy every card in a booster into the caller's main collection
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Cards added.
          content:
            application/json:
              schema: { type: object, properties: { success: { type: boolean }, added: { type: integer } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove this booster's cards from the caller's main collection
      security: [{ sessionAuth: [] }]
      description: Cascades to remove any sell-list listings referencing the removed collection entries.
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Decks
  /cubes:
    get:
      tags: [Cubes]
      summary: List the caller's cubes
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Cubes owned by the caller, whatever their visibility.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cubes: { type: array, items: { $ref: "#/components/schemas/Cube" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Cubes]
      summary: Create a cube
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, gameSlug]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                gameSlug:
                  type: string
                  description: >-
                    Game the cube belongs to. It fixes which cards can be added
                    and cannot be changed afterwards.
                description: { type: string, maxLength: 2000 }
                visibility:
                  type: string
                  enum: [private, unlisted, public]
                  default: private
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cube" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: Get a cube and its packs
      description: >-
        A private cube answers 404 to anyone but its owner, so that the response
        does not reveal its existence.
      responses:
        "200":
          description: Cube.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cube: { $ref: "#/components/schemas/Cube" }
                  packs: { type: array, items: { $ref: "#/components/schemas/CubePack" } }
                  canEdit: { type: boolean }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Cubes]
      summary: Update a cube
      description: At least one field must be provided. The game is not editable.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [name]
                - required: [description]
                - required: [visibility]
                - required: [draw]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                description:
                  type: string
                  maxLength: 2000
                  description: An empty string clears the existing description.
                visibility: { type: string, enum: [private, unlisted, public] }
                draw: { $ref: "#/components/schemas/CubeDrawConfig" }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cube" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Cubes]
      summary: Delete a cube, its packs and their cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: List a cube's packs
      responses:
        "200":
          description: Packs, oldest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  packs: { type: array, items: { $ref: "#/components/schemas/CubePack" } }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Cubes]
      summary: Add a pack to a cube
      description: Both fields are optional - a pack with no name is displayed by its position.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 100 }
                type: { type: string, maxLength: 100 }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubePack" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs/{packId}:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
      - { name: packId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: Get a pack and its cards
      responses:
        "200":
          description: Pack.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pack: { $ref: "#/components/schemas/CubePack" }
                  cards: { type: array, items: { $ref: "#/components/schemas/CubeCard" } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Cubes]
      summary: Update a pack's name or type
      description: An empty string clears the corresponding field.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [name]
                - required: [type]
              properties:
                name: { type: string, maxLength: 100 }
                type: { type: string, maxLength: 100 }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubePack" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Cubes]
      summary: Delete a pack and its cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs/{packId}/cards:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
      - { name: packId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Cubes]
      summary: Add a card to a pack
      description: >-
        The same card may be added several times: a pack holds copies, not a set.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId, name, setCode, collectorNumber, image]
              properties:
                cardId: { type: string }
                name: { type: string }
                setCode: { type: string }
                collectorNumber: { type: string }
                image: { type: string }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubeCard" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Cubes]
      summary: Set how many copies of a card a pack holds
      description: >-
        Reconciles the pack with the wanted quantity by adding or removing
        entries, rather than clearing and reinserting them. A quantity of 0
        removes the card from the pack. Copies are matched by `cardId`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId, name, setCode, collectorNumber, image, quantity]
              properties:
                cardId: { type: string }
                name: { type: string }
                setCode: { type: string }
                collectorNumber: { type: string }
                image: { type: string }
                quantity: { type: integer, minimum: 0, maximum: 99 }
      responses:
        "200":
          description: The pack's cards after the change, one entry per copy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards: { type: array, items: { $ref: "#/components/schemas/CubeDrawnCard" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Cubes]
      summary: Remove one card entry from a pack
      security: [{ sessionAuth: [] }]
      parameters:
        - name: entryId
          in: query
          required: true
          description: Id of the card entry to remove, not the card id - a pack may hold several copies.
          schema: { type: string }
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs/{packId}/import:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
      - { name: packId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Cubes]
      summary: Import a card list into a pack
      description: >-
        Each line reads as `2x Card name #SET001`, where the quantity and the
        `#setCode+collectorNumber` printing code are optional. Blank lines and
        lines starting with `//` or `#` are ignored. Cards are matched against
        the game's catalogue by name, the printing code picking between
        reprints; a line whose name is unknown is matched on its printing code
        alone. Lines that match nothing are reported back rather than failing
        the whole import, and a list that matches nothing at all leaves the pack
        untouched.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, maxLength: 50000 }
                mode:
                  type: string
                  enum: [append, replace]
                  default: append
                  description: "`append` adds to the pack, `replace` empties it first."
      responses:
        "200":
          description: The pack's cards after the import, one entry per copy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  imported: { type: integer, description: Copies actually written. }
                  unresolved:
                    type: array
                    description: Lines whose card is absent from the game's catalogue.
                    items: { type: string }
                  invalidLines:
                    type: array
                    description: Lines the format does not cover.
                    items: { type: string }
                  cards: { type: array, items: { $ref: "#/components/schemas/CubeDrawnCard" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/export:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: Export the whole cube as a card list
      description: >-
        Every pack in order, each announced by a `// pack name` comment and
        followed by its cards as `2x Card name #SET001`. Comments being ignored
        on import, the text can be pasted back into a pack. Open to anyone who
        can view the cube.
      security: []
      responses:
        "200":
          description: The cube as text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/draw:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Cubes]
      summary: Draw the cube for a number of players
      description: >-
        Open to anonymous callers: only the cube's visibility gates access. The
        cube's stored configuration is used, falling back to the defaults (one
        pack per player, no duplicates) when it has none. Nothing is persisted -
        each call is an independent draw.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [players]
              properties:
                players: { type: integer, minimum: 1, maximum: 16 }
      responses:
        "200":
          description: One draw per player.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubeDrawResult" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /decks:
    get:
      tags: [Decks]
      summary: Search decks
      security: []
      parameters:
        - { name: playerId, in: query, schema: { type: string } }
        - { name: gameId, in: query, schema: { type: string } }
        - { name: visibility, in: query, schema: { type: string, enum: [private, public] } }
        - { name: search, in: query, description: "Regex match on name/description.", schema: { type: string } }
        - { name: sortBy, in: query, schema: { type: string, enum: [name, createdAt, updatedAt], default: updatedAt } }
        - { name: sortOrder, in: query, schema: { type: string, enum: [asc, desc], default: desc } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 20 } }
        - { name: scope, in: query, schema: { type: string, enum: [mine, all] } }
        - { name: favoritesOnly, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Paginated decks. Requesting another user's private decks (via `playerId` + `visibility=private`) is rejected.
          content:
            application/json:
              schema:
                type: object
                properties:
                  decks: { type: array, items: { $ref: "#/components/schemas/Deck" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Decks]
      summary: Create a deck
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, gameId]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                gameId: { type: string, pattern: "^[0-9a-fA-F]{24}$" }
                url: { type: string, format: uri }
                description: { type: string, maxLength: 2000 }
                decklist: { type: string, maxLength: 20000 }
                visibility: { type: string, enum: [private, public], default: private }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: "A deck with this name already exists for this player.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /decks/{deckId}:
    parameters:
      - { name: deckId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    get:
      tags: [Decks]
      summary: Get a deck
      security: []
      description: Private decks are only visible to their owner (session optional; checked if present).
      responses:
        "200": { description: Deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Decks]
      summary: Update a deck, or toggle favorite status
      security: [{ sessionAuth: [] }]
      description: >
        Two modes based on body shape: send `{ "favorite": boolean }` to toggle the
        caller's favorite on the deck, or any subset of the deck fields to update
        the deck itself (only the owner may do either).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [favorite]
                  properties: { favorite: { type: boolean } }
                - type: object
                  minProperties: 1
                  properties:
                    name: { type: string, minLength: 1, maxLength: 100 }
                    gameId: { type: string, pattern: "^[0-9a-fA-F]{24}$" }
                    url: { type: string }
                    description: { type: string, maxLength: 2000 }
                    decklist: { type: string, maxLength: 20000 }
                    visibility: { type: string, enum: [private, public] }
      responses:
        "200": { description: Updated deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Name collides with an existing deck of the same player.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    delete:
      tags: [Decks]
      summary: Delete a deck (owner only)
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Docs
  /docs:
    get:
      tags: [Docs]
      summary: Get this OpenAPI document as JSON
      security: []
      responses:
        "200":
          description: The static `openapi.json` document served as-is.

  # ---------------------------------------------------------------- Events
  /events:
    get:
      tags: [Events]
      summary: List events (calendar)
      security: []
      description: >
        Behavior depends on inputs: `lairId` scopes to one lair; an authenticated
        session returns events for the user's followed games (or `gameId`);
        an anonymous request with `userLat`/`userLon`/`maxDistance` searches
        nearby lairs; otherwise an anonymous request with no location returns
        an empty list.
      parameters:
        - { name: month, in: query, schema: { type: integer, minimum: 1, maximum: 12 } }
        - { name: year, in: query, schema: { type: integer, minimum: 2000, maximum: 3000 } }
        - { name: gameId, in: query, description: "Game id, or the special value `followed`.", schema: { type: string, default: followed } }
        - { name: lairId, in: query, schema: { type: string } }
        - { name: userLat, in: query, schema: { type: number } }
        - { name: userLon, in: query, schema: { type: number } }
        - { name: maxDistance, in: query, description: "Max distance in km, must be > 0.", schema: { type: number } }
        - { name: afterDate, in: query, description: "ISO date-time lower bound on startDateTime, independent of month/year. Only applied for an authenticated request (ignored for the lairId-scoped and anonymous-geospatial branches).", schema: { type: string, format: date-time } }
        - { name: beforeDate, in: query, description: "ISO date-time upper bound on startDateTime, independent of month/year. Only applied for an authenticated request (ignored for the lairId-scoped and anonymous-geospatial branches).", schema: { type: string, format: date-time } }
      responses:
        "200":
          description: Events.
          content:
            application/json:
              schema:
                type: object
                properties: { events: { type: array, items: { $ref: "#/components/schemas/Event" } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Events]
      summary: Get an event's detail
      description: Resolves an id already known to the caller (e.g. from a previous list call). A private event (no `lairId`) is only visible to its creator or a participant, same access model as the `/events/{eventId}` web page.
      security: [{ sessionAuth: [] }, {}]
      responses:
        "200": { description: Event., content: { application/json: { schema: { $ref: "#/components/schemas/Event" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}/favorite:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Events]
      summary: Toggle the caller's favorite on an event
      description: Same private-event access restriction as `GET /events/{eventId}` — favoriting doesn't grant visibility into an event the caller can't otherwise see.
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Updated favorite state., content: { application/json: { schema: { type: object, properties: { favorited: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}/favorited-users:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Events]
      summary: List users who favorited an event (organizer/lair-owner only)
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Favoriting users.
          content:
            application/json:
              schema:
                type: object
                properties: { users: { type: array, items: { $ref: "#/components/schemas/PublicUser" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Friends
  /friends:
    get:
      tags: [Friends]
      summary: List the caller's friends
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Friends., content: { application/json: { schema: { type: object, properties: { friends: { type: array, items: { $ref: "#/components/schemas/PublicUser" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Friends]
      summary: Send a friend request by username or displayName#discriminator tag
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [username], properties: { username: { type: string } } }
      responses:
        "201": { description: Request created., content: { application/json: { schema: { type: object, properties: { friendRequest: { $ref: "#/components/schemas/FriendRequest" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Already friends, or a request is already pending.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /friends/{friendId}:
    parameters:
      - { name: friendId, in: path, required: true, schema: { type: string } }
    delete:
      tags: [Friends]
      summary: Remove a friend (bidirectional)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /friends/code:
    get:
      tags: [Friends]
      summary: Get (or lazily create) the caller's own friend code
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Friend code., content: { application/json: { schema: { type: object, properties: { code: { type: string } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /friends/scan:
    post:
      tags: [Friends]
      summary: Add a friend immediately by scanning/entering their friend code
      description: Unlike `POST /friends`, this adds the friendship immediately (no accept step) and also auto-resolves any pending request between the two users.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string, description: "8 characters from [23456789ABCDEFGHJKMNPQRSTUVWXYZ]." } }
      responses:
        "200": { description: Friend added., content: { application/json: { schema: { type: object, properties: { friend: { $ref: "#/components/schemas/PublicUser" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Already friends., content: { application/json: { schema: { type: object, properties: { error: { type: string }, friend: { $ref: "#/components/schemas/PublicUser" } } } } } }

  /friends/requests:
    get:
      tags: [Friends]
      summary: List pending incoming friend requests
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Pending requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      allOf:
                        - { $ref: "#/components/schemas/FriendRequest" }
                        - type: object
                          properties: { requester: { $ref: "#/components/schemas/PublicUser" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /friends/requests/{requestId}:
    parameters:
      - { name: requestId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Friends]
      summary: Accept a pending friend request (recipient only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Accepted., content: { application/json: { schema: { type: object, properties: { friendRequest: { $ref: "#/components/schemas/FriendRequest" } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    delete:
      tags: [Friends]
      summary: Decline a pending friend request (recipient only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Declined., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Game Matches
  /game-matches/{matchId}/join:
    parameters:
      - { name: matchId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Game Matches]
      summary: Join a casual game match via an invite link
      description: >
        Browser-navigation endpoint (not meant to be called via XHR/fetch): always
        responds with an HTTP redirect, never JSON. Redirects to `/login` if not
        authenticated, otherwise to the match page with a French success/error
        message in the query string.
      security: [{ sessionAuth: [] }]
      responses:
        "302":
          description: >
            Redirect to `/login?callbackUrl=...` (not authenticated), or to
            `/game-matches/{matchId}?message=...` / `/game-matches?error=...`
            depending on outcome.

  # ---------------------------------------------------------------- Games
  /games:
    get:
      tags: [Games]
      summary: List games (catalog)
      security: []
      description: Returns up to 25 games with a lightweight projection; no pagination/filtering supported.
      responses:
        "200":
          description: Games.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/GameSummary" }

  /games/{gameId}:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug or Mongo ObjectId.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a game
      security: []
      responses:
        "200": { description: Game., content: { application/json: { schema: { $ref: "#/components/schemas/Game" } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/cards:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug; used as a Meilisearch index key.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Search a game's card catalog (Meilisearch-backed)
      security: []
      description: >
        Response is a bare array unless `page` or `limit` is supplied, in which
        case it becomes a paginated object including facet lists. `searchQuery`
        supports inline directives: `set:<code>` / `e:<code>` to filter by set
        (overrides `setCode`; `set:*` disables set filtering), and
        `cn:<code>` to filter by exact collector number.


        Game attributes can also be filtered and sorted on. The attributes a game actually has are
        returned as `facets`; anything outside them is ignored rather than passed to the search engine.
        Numeric attributes take `min_<attr>` / `max_<attr>` (inverted bounds are swapped), value
        attributes take `in_<attr>` as a comma-separated list (values within one attribute are OR-ed,
        attributes are AND-ed). `sort` is `<key>:asc|desc` over `name`, `collectorNumber` or any numeric
        attribute.


        Filtering and sorting require the attribute to be declared on the Meilisearch index, which the
        admin "update index" action does. Until it has run for a game, the search falls back to
        returning results without those criteria and sets `filtersUnavailable`.
      parameters:
        - { name: setCode, in: query, schema: { type: string } }
        - { name: searchQuery, in: query, schema: { type: string } }
        - { name: lang, in: query, schema: { type: string, default: all } }
        - { name: type, in: query, schema: { type: string } }
        - { name: sort, in: query, description: "`<key>:asc|desc`.", schema: { type: string } }
        - { name: "min_{attribute}", in: query, description: "Lower bound of a numeric attribute.", schema: { type: number } }
        - { name: "max_{attribute}", in: query, description: "Upper bound of a numeric attribute.", schema: { type: number } }
        - { name: "in_{attribute}", in: query, description: "Comma-separated values of a value attribute.", schema: { type: string } }
        - { name: page, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer, default: 24, maximum: 100 } }
      responses:
        "200":
          description: Cards, or a paginated result if `page`/`limit` is present.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items: { $ref: "#/components/schemas/BoosterCard" }
                  - type: object
                    properties:
                      cards: { type: array, items: { $ref: "#/components/schemas/BoosterCard" } }
                      total: { type: integer }
                      page: { type: integer }
                      limit: { type: integer }
                      totalPages: { type: integer }
                      setCodes: { type: array, items: { type: string } }
                      types: { type: array, items: { type: string } }
                      languages: { type: array, items: { type: string } }
                      facets: { type: array, items: { $ref: "#/components/schemas/CardFilterFacet" } }
                      filtersUnavailable:
                        type: boolean
                        description: "The index does not accept attribute filters yet; the results ignore them."

  /games/{gameId}/cards/{cardId}:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug (exact match only).", schema: { type: string } }
      - { name: cardId, in: path, required: true, description: "Card's own `id` field, scoped to the resolved game.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a card's detail, including its erratas
      security: []
      description: Session is optional; if present, `userVote` is populated on each errata.
      responses:
        "200":
          description: Card detail with erratas and mentioned-card lookups.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BoosterCard"
                  - type: object
                    properties:
                      game: { type: object, properties: { id: { type: string }, name: { type: string }, slug: { type: string } } }
                      erratas: { type: array, items: { $ref: "#/components/schemas/Errata" } }
                      cardIdByName: { type: object, additionalProperties: { type: string } }
                      cardsById: { type: object, additionalProperties: { $ref: "#/components/schemas/CardNameMatch" } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/deck-checker:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Validate/parse a Riftbound deck list
      security: []
      description: Only supported for the game whose slug is `riftbound`. Accepts a Piltover Archive deck URL, a Piltover deck code, or a raw pasted deck list.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [deckList], properties: { deckList: { type: string } } }
      responses:
        "200":
          description: Parsed deck.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deck: { $ref: "#/components/schemas/RiftboundDeckList" }
                  link: { type: string }
                  code: { type: string }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }
        "500": { description: Failed to verify decklist., content: { application/json: { schema: { $ref: "#/components/schemas/NestedError" } } } }

  /games/{gameId}/erratas:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List a game's erratas
      security: []
      description: >
        Every errata attached to a card of this game. Session is optional; if
        present, `votes.userVote` is populated. Response body is a raw array;
        pagination totals are returned via the `x-page`, `x-page-size` and
        `x-count` response headers instead of the body.
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 20, maximum: 100 } }
      responses:
        "200":
          description: Erratas.
          headers:
            x-page: { schema: { type: string } }
            x-page-size: { schema: { type: string } }
            x-count: { schema: { type: string } }
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/Errata" } }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Games]
      summary: Submit an errata
      description: >
        Open to any signed-in user — erratas are community content, arbitrated by
        votes and reports. Every `cardIds` entry must be an existing card **of this
        game**, at most 20 of them. `errataDate` defaults to now.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardIds, type, details]
              properties:
                cardIds: { type: array, minItems: 1, maxItems: 20, items: { type: string } }
                type: { type: string, enum: [errata, clarification, ruling] }
                details: { type: string, maxLength: 5000 }
                originalLang: { type: string, enum: [en, fr, it, de], default: fr }
                source: { type: string, maxLength: 500 }
                errataDate: { type: string, format: date-time }
      responses:
        "201":
          description: Created errata.
          content: { application/json: { schema: { $ref: "#/components/schemas/Errata" } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /games/{gameId}/erratas/{errataId}/vote:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
      - { name: errataId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Vote on an errata
      description: >
        Casting the same vote again removes it. Voting is open to any signed-in
        user (implicit `erratas:vote` permission).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vote]
              properties: { vote: { type: string, enum: [positive, negative] } }
      responses:
        "200":
          description: Updated tally.
          content:
            application/json:
              schema:
                type: object
                properties:
                  votes:
                    type: object
                    properties: { positive: { type: integer }, negative: { type: integer }, userVote: { type: string, enum: [positive, negative] } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /games/{gameId}/loop:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Auto-link recognized card names in free text ("Loupe")
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties: { text: { type: string, maxLength: 20000 } }
      responses:
        "200":
          description: Annotated text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw: { type: string }
                  annotated: { type: string }
                  cards:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/CardNameMatch"
                        - type: object
                          properties: { erratas: { type: array, items: { $ref: "#/components/schemas/Errata" } } }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }

  /games/{gameId}/news:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List news linked to a game
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
      responses:
        "200":
          description: Paginated news.
          content:
            application/json:
              schema:
                type: object
                properties:
                  news: { type: array, items: { $ref: "#/components/schemas/News" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/policies:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List/search a game's rulings & policies
      security: []
      description: >
        Response body is a raw array; pagination totals are returned via the
        `x-page`, `x-page-size` and `x-count` response headers instead of the body.
      parameters:
        - { name: searchQuery, in: query, description: "Full-text search on title/content.", schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10 } }
      responses:
        "200":
          description: Policies.
          headers:
            x-page: { schema: { type: string } }
            x-page-size: { schema: { type: string } }
            x-count: { schema: { type: string } }
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/Policy" } }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Games]
      summary: Create a policy for a game
      description: >
        Requires permission `policies:update` — unlike erratas, policies carry
        authority and are not arbitrated by votes.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content]
              properties:
                title: { type: string, maxLength: 200 }
                content: { type: string, maxLength: 20000 }
                originalLang: { type: string, enum: [en, fr, it, de], default: fr }
                source: { type: string, maxLength: 500 }
      responses:
        "201":
          description: Created policy.
          content: { application/json: { schema: { $ref: "#/components/schemas/Policy" } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /games/{gameId}/policies/{policyId}:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a single policy's detail
      security: []
      description: Session is optional; if present, `votes.userVote` is populated.
      responses:
        "200":
          description: Policy detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Policy" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/policies/{policyId}/vote:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Vote on a policy
      description: >
        Casting the same vote again removes it. Voting is open to any signed-in
        user (implicit `policies:vote` permission).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vote]
              properties: { vote: { type: string, enum: [positive, negative] } }
      responses:
        "200":
          description: Updated tally.
          content:
            application/json:
              schema:
                type: object
                properties:
                  votes:
                    type: object
                    properties: { positive: { type: integer }, negative: { type: integer }, userVote: { type: string, enum: [positive, negative] } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /games/{gameId}/quizzes:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List quizzes linked to a game
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
      responses:
        "200":
          description: Paginated quizzes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quizzes: { type: array, items: { $ref: "#/components/schemas/Quiz" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/rules:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug (only `riftbound` is currently supported).", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get/search Riftbound rules text (Comprehensive Rules / Tournament Rules)
      security: []
      description: Rules content is sourced from static local JSON files, not the database.
      parameters:
        - { name: document, in: query, schema: { type: string, enum: [TR, CR] } }
        - { name: lang, in: query, schema: { type: string, enum: [en, fr], default: en } }
        - { name: ruleId, in: query, schema: { type: string } }
        - { name: searchQuery, in: query, description: "If present, search mode takes priority over document/ruleId listing.", schema: { type: string } }
        - { name: limit, in: query, description: "Only used in search mode, defaults to 30.", schema: { type: integer } }
      responses:
        "200":
          description: Rule entries (shape depends on whether `searchQuery`/`ruleId` is used).
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/RuleEntry" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/scanner/ai-match:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Identify a card from a photo using AI vision
      description: Requires permission `scanner:ai` (rate/cost-sensitive external AI call).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string, description: "Base64 data URL, e.g. data:image/jpeg;base64,...", maxLength: 8000000 }
      responses:
        "200":
          description: Best match, if any.
          content:
            application/json:
              schema:
                type: object
                properties:
                  match: { $ref: "#/components/schemas/ScannerMatch" }
                  identification: { $ref: "#/components/schemas/AiIdentification" }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "403": { description: Missing scanner:ai permission., content: { application/json: { schema: { $ref: "#/components/schemas/NestedError" } } } }
        "404": { $ref: "#/components/responses/NestedNotFound" }
        "502": { description: AI identification failed., content: { application/json: { schema: { $ref: "#/components/schemas/NestedError" } } } }

  /games/{gameId}/scanner/match:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Fuzzy-match card text (e.g. from on-device OCR) against the catalog
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 3, maxLength: 5000 }
                lang: { type: string }
      responses:
        "200":
          description: "Best match, if any (null if text shorter than 3 characters)."
          content:
            application/json:
              schema: { type: object, properties: { match: { $ref: "#/components/schemas/ScannerMatch" } } }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }

  /games/{gameId}/scanner/names:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List distinct card names for a set (used to seed local OCR matching)
      security: []
      parameters:
        - { name: setCode, in: query, required: true, schema: { type: string } }
        - { name: lang, in: query, schema: { type: string } }
      responses:
        "200":
          description: Names.
          content:
            application/json:
              schema:
                type: object
                properties: { names: { type: array, items: { type: object, properties: { id: { type: string }, name: { type: string } } } } }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }

  /games/{gameId}/sets:
    parameters:
      - { name: gameId, in: path, required: true, description: "Declared but currently ignored - always returns Riftbound's sets.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get card sets
      security: []
      description: Currently hard-coded to serve the static Riftbound sets data file regardless of the path parameter.
      responses:
        "200": { description: Sets. }

  # ---------------------------------------------------------------- Lairs
  /lairs:
    get:
      tags: [Lairs]
      summary: Search lairs (game stores / venues)
      security: []
      description: Always anonymous - private lairs are never returned by this endpoint.
      parameters:
        - { name: gameId, in: query, schema: { type: string } }
        - { name: search, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 100 } }
      responses:
        "200":
          description: Paginated lairs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lairs: { type: array, items: { $ref: "#/components/schemas/Lair" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Leagues
  /leagues/{leagueId}/ranking:
    parameters:
      - { name: leagueId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Leagues]
      summary: Get a league's participant ranking
      description: >
        Public leagues are visible anonymously. Private leagues require the
        caller to be a participant or organizer (returns 403, even when not
        logged in). Note: league search/create/update/delete and match
        reporting are implemented as Next.js server actions
        (`app/leagues/actions.ts`), not as REST endpoints, and so are not part
        of this API surface.
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 16, maximum: 100 } }
      responses:
        "200":
          description: Paginated ranking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants: { type: array, items: { $ref: "#/components/schemas/LeagueRankingParticipant" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- News
  /news:
    get:
      tags: [News]
      summary: List/search news
      security: []
      parameters:
        - { name: gameId, in: query, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
        - { name: tag, in: query, schema: { type: string } }
        - { name: dateFrom, in: query, schema: { type: string, format: date-time } }
        - { name: dateTo, in: query, schema: { type: string, format: date-time } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
        - { name: includeTags, in: query, description: "Set to `true` to include the distinct list of all tags.", schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Paginated news.
          content:
            application/json:
              schema:
                type: object
                properties:
                  news: { type: array, items: { $ref: "#/components/schemas/News" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  tags: { type: array, items: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [News]
      summary: Create a news article
      description: Requires permission `news:update`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, summary, content]
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                summary: { type: string, minLength: 1, maxLength: 500 }
                content: { type: string, minLength: 1 }
                banner: { type: string, format: uri }
                gameIds: { type: array, items: { type: string, pattern: "^[0-9a-fA-F]{24}$" }, default: [] }
                tags: { type: array, items: { type: string, minLength: 1, maxLength: 50 }, default: [] }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/News" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /news/{newsId}:
    parameters:
      - { name: newsId, in: path, required: true, schema: { type: string } }
    get:
      tags: [News]
      summary: Get a news article
      security: []
      responses:
        "200": { description: News., content: { application/json: { schema: { $ref: "#/components/schemas/News" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [News]
      summary: Update a news article
      description: Requires permission `news:update`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                summary: { type: string, minLength: 1, maxLength: 500 }
                content: { type: string, minLength: 1 }
                banner: { type: string, format: uri }
                gameIds: { type: array, items: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
                tags: { type: array, items: { type: string, minLength: 1, maxLength: 50 } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/News" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /news/{newsId}/like:
    parameters:
      - { name: newsId, in: path, required: true, schema: { type: string } }
    post:
      tags: [News]
      summary: Toggle like on a news article
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: New like state.
          content:
            application/json:
              schema: { type: object, properties: { liked: { type: boolean }, likesCount: { type: integer } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /news/upload:
    post:
      tags: [News]
      summary: Upload a news banner image
      description: Requires permission `news:update`. `multipart/form-data`, field `file` (JPG/PNG/WebP, max 5 MB).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties: { file: { type: string, format: binary } }
      responses:
        "200": { description: Uploaded., content: { application/json: { schema: { type: object, properties: { url: { type: string } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Play Groups
  /play-groups:
    get:
      tags: [Play Groups]
      summary: List the caller's play groups
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Groups., content: { application/json: { schema: { type: object, properties: { groups: { type: array, items: { $ref: "#/components/schemas/PlayGroup" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Play Groups]
      summary: Create a play group (caller becomes owner)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [name], properties: { name: { type: string }, description: { type: string } } }
      responses:
        "201": { description: Created., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /play-groups/{playGroupId}:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: Get a play group (members only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Group., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [Play Groups]
      summary: Set which games are enabled for this group's shared collection (owner/admin only)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabledGameIds]
              properties:
                enabledGameIds: { type: array, items: { type: string }, maxItems: 500, nullable: true, description: "null re-enables every game." }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /play-groups/{playGroupId}/members:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: List a play group's members
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  group: { type: object, properties: { id: { type: string }, name: { type: string }, description: { type: string } } }
                  currentUserRole: { type: string, enum: [owner, admin, member] }
                  members: { type: array, items: { $ref: "#/components/schemas/PlayGroupMember" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Play Groups]
      summary: Invite a user to a play group (owner/admin only)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIdentifier]
              properties: { userIdentifier: { type: string, description: "Email, displayName#discriminator tag, or user id." } }
      responses:
        "201": { description: Invitation created., content: { application/json: { schema: { type: object, properties: { invitation: { $ref: "#/components/schemas/PlayGroupInvitation" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Already a member, or an invitation is already pending.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /play-groups/{playGroupId}/members/{memberId}:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
      - { name: memberId, in: path, required: true, description: "Target member's user id.", schema: { type: string } }
    patch:
      tags: [Play Groups]
      summary: Change a member's role (owner only)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [role], properties: { role: { type: string, enum: [admin, member] } } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Play Groups]
      summary: Remove a member (owner/admin only; admins cannot remove owners or other admins)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
[...]
