openapi: 3.1.0
info:
  title: Joutes API
  description: >
    REST API for Joutes, a companion platform for trading card game communities
    (collection tracking, decks, news, quizzes, scanner/OCR card recognition,
    events, lairs, leagues, friends, play groups, wishlists and sell lists).
    Most endpoints require an authenticated session created via the
    `/auth/*` endpoints (Better Auth). A few write endpoints additionally
    require a specific permission (e.g. `news:update`, `scanner:ai`) or
    admin status - this is noted in each operation's description.
  version: "2.0.0"
servers:
  - url: https://joutes.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
tags:
  - name: Auth
    description: Authentication, OAuth2/OIDC provider and session management (Better Auth).
  - name: Collection
    description: Personal card collection, booster/pack tracking and collection completion stats.
  - name: Cubes
    description: User-built cubes - packs of cards with visibility rules and distribution statistics.
  - name: Decks
    description: Public and private deck lists linked to a game.
  - name: Docs
    description: This OpenAPI document.
  - name: Events
    description: Tournament / event calendar entries tied to lairs.
  - name: Friends
    description: Friend list, friend requests and friend codes.
  - name: Geo
    description: Place lookup backing the "near me" location fields.
  - name: Game Matches
    description: Casual game match invitations/joining.
  - name: Games
    description: Game catalog, cards, rules, policies, news, quizzes and scanner recognition per game.
  - name: Lairs
    description: Game stores / venues ("lairs") that host events.
  - name: Leagues
    description: League rankings (league CRUD itself is a server action, not a REST endpoint).
  - name: News
    description: News articles, optionally linked to a game.
  - name: Notifications
    description: A user's notification inbox, and the devices registered for push delivery.
  - name: Play Groups
    description: Shared groups for pooled collections, wishlists and sell lists.
  - name: Quizzes
    description: Quizzes, optionally linked to a game.
  - name: Sell Lists
    description: Cards a user or play group is offering for sale.
  - name: Trades
    description: >
      Card trades between two users. Only the card-list helper below is
      contractual so far; composing, joining and validating a trade are served
      by routes under `/trades` that this document does not yet describe.
      Unlike most of the API, **no `/trades` route accepts an API key**: they
      resolve the session directly, so a personal `jts_...` key is rejected
      there.
  - name: Upload
    description: Generic admin file upload to blob storage.
  - name: Users
    description: Public user profiles, and a user's public wishlists/sell list.
  - name: Wishlists
    description: Cards a user or play group is looking for.
  - name: Cron
    description: Internal scheduled jobs, protected by a shared secret. Not intended for client use.
paths:
  # ---------------------------------------------------------------- Auth
  /auth/{path}:
    parameters:
      - name: path
        in: path
        required: true
        description: >
          Catch-all segment(s) handled by Better Auth, e.g. `sign-in/email-otp`,
          `sign-out`, `session`, `oauth2/authorize`, `oauth2/token`,
          `oauth2/register`, `jwks`, passkey and email-OTP routes. The exact
          set of sub-routes is defined by the Better Auth plugins configured
          in `lib/auth.ts` (email OTP, passkey, JWT, OAuth provider, Discord
          social sign-in) and is not exhaustively enumerable here.
        schema:
          type: string
    get:
      tags: [Auth]
      summary: Better Auth catch-all (read operations)
      description: Delegates to Better Auth's internal handler (e.g. session lookup, OAuth2 authorize, JWKS).
      security: []
      responses:
        "200":
          description: Response shape depends on the Better Auth sub-route invoked.
    post:
      tags: [Auth]
      summary: Better Auth catch-all (write operations)
      description: Delegates to Better Auth's internal handler (e.g. sign-in, sign-out, OAuth2 token exchange, passkey registration).
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Body shape depends on the Better Auth sub-route invoked.
      responses:
        "200":
          description: Response shape depends on the Better Auth sub-route invoked.

  /auth/.well-known/oauth-authorization-server:
    get:
      tags: [Auth]
      summary: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      description: Framework-generated discovery document for the Better Auth OAuth provider plugin.
      security: []
      responses:
        "200":
          description: OAuth 2.0 authorization server metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer: { type: string }
                  authorization_endpoint: { type: string }
                  token_endpoint: { type: string }
                  registration_endpoint: { type: string }
                  jwks_uri: { type: string }
                  response_types_supported: { type: array, items: { type: string } }
                  grant_types_supported: { type: array, items: { type: string } }
                  scopes_supported: { type: array, items: { type: string } }

  /auth/.well-known/openid-configuration:
    get:
      tags: [Auth]
      summary: OpenID Connect Discovery document
      description: Framework-generated OIDC discovery metadata for the Better Auth OAuth provider plugin.
      security: []
      responses:
        "200":
          description: OpenID Connect discovery metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer: { type: string }
                  authorization_endpoint: { type: string }
                  token_endpoint: { type: string }
                  userinfo_endpoint: { type: string }
                  jwks_uri: { type: string }
                  response_types_supported: { type: array, items: { type: string } }
                  subject_types_supported: { type: array, items: { type: string } }
                  scopes_supported: { type: array, items: { type: string } }

  # ---------------------------------------------------------------- Collection
  /collection:
    get:
      tags: [Collection]
      summary: Get the caller's collection overview across all games
      security: [{ sessionAuth: [] }]
      parameters:
        - name: includeEmpty
          in: query
          description: When `true`, include games with 0% completion (default only shows games the user owns at least one item in).
          schema: { type: string, enum: ["true", "false"] }
      responses:
        "200":
          description: Collection overview.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionOverview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/value:
    post:
      tags: [Collection]
      summary: Recompute the estimated value of the caller's whole collection
      security: [{ sessionAuth: [] }]
      description: >
        Re-prices every game the caller owns at least one card in, stores each
        game's value and returns them with their total. An explicit action:
        prices are only imported now and then, and a value dated from the last
        click reads better than a total that moves on its own.
      responses:
        "200":
          description: Values per game id, and their total.
          content:
            application/json:
              schema:
                type: object
                properties:
                  values:
                    type: object
                    additionalProperties: { $ref: "#/components/schemas/CollectionValue" }
                  value:
                    allOf: [{ $ref: "#/components/schemas/CollectionValue" }]
                    nullable: true
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/value:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Recompute the estimated value of the caller's collection for one game
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: The game's freshly computed value.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value: { $ref: "#/components/schemas/CollectionValue" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/cards:
    get:
      tags: [Collection]
      summary: List the caller's collected cards (grouped by printing)
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: gameSlug, in: query, description: "Exact slug match only (no ObjectId fallback).", schema: { type: string } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, description: "Card type filter.", schema: { type: string } }
      responses:
        "200":
          description: Grouped collection cards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        setCode: { type: string }
                        collectorNumber: { type: string }
                        image: { type: string }
                        quantity: { type: integer }
                  total: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Collection]
      summary: Add a single card to the caller's collection
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionCardInput" }
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties: { id: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /collection/cards/{cardId}:
    parameters:
      - { name: cardId, in: path, required: true, description: "Catalog card id (not a collection entry id).", schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get every owned copy of a catalog card
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Owned copies of the card.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quantity: { type: integer }
                  cards:
                    type: array
                    items: { $ref: "#/components/schemas/CollectionCardEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [Collection]
      summary: Mark/unmark a specific collection entry as borrowed
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, borrowedBy]
              additionalProperties: false
              properties:
                entryId: { type: string, minLength: 1, maxLength: 100 }
                borrowedBy: { type: string, minLength: 1, maxLength: 100, nullable: true, description: "Pass null to clear." }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties: { id: { type: string }, borrowedBy: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove an owned copy of a catalog card
      security: [{ sessionAuth: [] }]
      parameters:
        - name: entryId
          in: query
          description: Specific collection entry id to delete. If omitted, an arbitrary matching copy is removed.
          schema: { type: string }
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/games/{gameSlug}:
    parameters:
      - { name: gameSlug, in: path, required: true, description: "Game slug or Mongo ObjectId.", schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get the caller's collection completion for a specific game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: search, in: query, description: "Case-insensitive substring match on card name.", schema: { type: string } }
        - { name: owned, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Game collection page with completion stats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        setCode: { type: string }
                        collectorNumber: { type: string }
                        image: { type: string }
                        type: { type: string }
                        orientation: { type: string, enum: [portrait, landscape], description: "Absent means `portrait`; a landscape card is shown rotated a quarter turn." }
                        quantity: { type: integer }
                        variantsOwned: { type: integer }
                        marketPrice: { $ref: "#/components/schemas/MarketPrice" }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  setCodes: { type: array, items: { type: string } }
                  types: { type: array, items: { type: string } }
                  stats: { $ref: "#/components/schemas/GameCollectionStats" }
                  game:
                    type: object
                    properties: { id: { type: string }, name: { type: string }, slug: { type: string } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/variants:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: List all owned printings/variants of a card by exact name
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: name, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Array of card variants (raw array, not wrapped).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    setCode: { type: string }
                    collectorNumber: { type: string }
                    image: { type: string }
                    type: { type: string }
                    quantity: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/games/{gameSlug}/export:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Export the caller's collection for a game as CSV
      description: >
        Returns the CSV file itself (`text/csv`, with a `Content-Disposition` filename), not JSON.
        Copies are grouped: one row per set of interchangeable copies, with a quantity — the
        collection stores one document per copy, which would otherwise mean thousands of rows.
        `format` is one of the formats the game offers: `joutes` is common to every game and
        carries every field, the others mirror a third-party tool and may drop what they have no
        column for.
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: format, in: query, description: "Defaults to `joutes`.", schema: { type: string, example: piltover-archive } }
      responses:
        "200":
          description: The CSV file.
          headers:
            Content-Disposition: { schema: { type: string } }
          content:
            text/csv: { schema: { type: string } }
        "400": { description: Unknown format for this game., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/import:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Add copies to the caller's collection from a CSV file
      description: >
        Copies read from the file are **added**; nothing is replaced or removed, so importing the
        same file twice doubles those copies. A line the catalog cannot match is reported in
        `issues` and skipped — the rest of the file is still imported, since a third-party export
        routinely holds a few cards this catalog does not know.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format, csv]
              properties:
                format: { type: string, example: piltover-archive }
                csv: { type: string, description: "Raw file contents, 5 MB at most." }
      responses:
        "200":
          description: Import summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  added: { type: integer, description: "Copies inserted." }
                  rows: { type: integer, description: "File lines retained." }
                  issues:
                    type: array
                    items:
                      type: object
                      properties: { line: { type: integer }, message: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { description: File too large, or too many copies for a single import., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/ownership:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Count owned copies of the given card names, broken down by printing
      description: >-
        For each requested card name, the number of copies the caller owns, in total
        (every catalog printing sharing that name) and per printing. Names owned in
        zero copies are simply absent from the response.
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: names, in: query, required: true, description: "Exact card name; repeat the parameter for several cards (120 max).", schema: { type: array, items: { type: string } } }
        - { name: excludeBooster, in: query, required: false, description: "Booster id whose copies are left out of the counts (they are already listed by the caller).", schema: { type: string } }
      responses:
        "200":
          description: Owned copies keyed by card name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownership:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        total: { type: integer, description: "Copies owned, every printing of that name included." }
                        printings:
                          type: object
                          description: "Copies owned per printing, keyed by `setCode|collectorNumber`."
                          additionalProperties: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/products:
    post:
      tags: [Collection]
      summary: Add a product copy to the caller's collection
      description: >
        Adds one copy of the product and, unless refused, one entry per unit of
        its contents, each linked to the container copy. The acquisition date is
        inherited by the contents; the price is not — copying a box's price onto
        each of its miniatures would double the collection's value.
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: gameSlug, in: query, required: true, description: "A product id is only unique within a game.", schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionProductInput" }
      responses:
        "200":
          description: Copy added.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entryId: { type: string }
                  addedContents: { type: integer }
                  missing:
                    type: array
                    items: { type: string }
                    description: "Content references missing from the catalogue; skipped rather than silently dropped."
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/products/{entryId}:
    parameters:
      - { name: entryId, in: path, required: true, description: "A single physical copy, not a product.", schema: { type: string } }
    patch:
      tags: [Collection]
      summary: Update one owned product copy
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionProductPatch" }
      responses:
        "200": { description: Copy updated. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    delete:
      tags: [Collection]
      summary: Remove one owned product copy
      description: >
        Removing a container copy also removes what it brought and is still
        attached to it. A copy that was detached beforehand survives.
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Copy removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  removed: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/products:
    get:
      tags: [Collection]
      summary: Browse a game's product catalogue, annotated with what the caller owns
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: gameSlug, in: path, required: true, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
        - { name: setCode, in: query, description: "Range / wave.", schema: { type: string } }
        - { name: kind, in: query, schema: { type: string, enum: [box, unit, starter, bundle, accessory, book, other] } }
        - { name: edition, in: query, description: "Game edition. Defaults to the game's current edition when it has one; `all` lifts the restriction. Products without an edition attribute match no edition.", schema: { type: string } }
        - { name: search, in: query, schema: { type: string }, description: "Free text, plus the card-gallery token syntax carried over to products: `faction:Rebelles points<=8 commando`. Fields are the game's own facets, plus `set` and `kind`; a token wins over the matching parameter." }
        - { name: "min_{attribute}", in: query, description: "Lower bound of a numeric facet, e.g. `min_points=8`. Keys the game does not carry are ignored.", schema: { type: number } }
        - { name: "max_{attribute}", in: query, description: "Upper bound of a numeric facet, e.g. `max_points=12`.", schema: { type: number } }
        - { name: "in_{attribute}", in: query, description: "Comma-separated values of a value facet, e.g. `in_faction=Empire,Rebelles`. Values the facet does not declare are ignored.", schema: { type: string } }
        - { name: owned, in: query, description: "Omit for everything.", schema: { type: string, enum: ["true", "false"] } }
        - { name: containers, in: query, description: "`true` for products with contents, `false` for leaves.", schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Product catalogue with ownership.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductCollectionResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/products/{productId}:
    get:
      tags: [Collection]
      summary: One product's sheet — resolved contents, owned copies, and the boxes containing it
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: gameSlug, in: path, required: true, schema: { type: string } }
        - { name: productId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Product detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  name: { type: string }
                  kind: { type: string }
                  setCode: { type: string }
                  image: { type: string }
                  quantity: { type: integer }
                  content: { $ref: "#/components/schemas/ContentCompletion" }
                  contents:
                    type: array
                    items:
                      type: object
                      properties:
                        productId: { type: string }
                        quantity: { type: integer }
                        name: { type: string }
                        image: { type: string }
                        kind: { type: string }
                        owned: { type: integer }
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        paintState: { type: string }
                        sealed: { type: boolean }
                        obtainedAt: { type: string }
                        acquisitionPrice: { type: number }
                        acquisitionCurrency: { type: string }
                        fromProductEntryId: { type: string }
                        attachedCopies:
                          type: integer
                          description: >
                            Copies still attached to this one — what removing it would take
                            along. Zero for a leaf, and for a container whose contents have
                            all been detached.
                        box:
                          allOf:
                            - $ref: "#/components/schemas/ContentCompletion"
                          description: "Contents still attached to *this* copy. Present only on containers."
                  containers:
                    type: array
                    description: "Products whose contents cite this one."
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        image: { type: string }
                        kind: { type: string }
                        owned: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/boosters:
    get:
      tags: [Collection]
      summary: List the caller's boosters/packs for a game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: gameSlug, in: query, required: true, schema: { type: string } }
        - name: type
          in: query
          required: false
          description: >-
            Filter on a booster type available for the game. `other` also matches
            boosters stored without a type, and the legacy value `custom` is
            accepted as an alias of `other`; any other value is rejected.
          schema: { type: string }
        - name: cards
          in: query
          required: false
          description: >-
            Comma-separated card ids. Only boosters containing **every** listed
            card are returned. An id absent from the game's cards stays an active
            filter and simply matches nothing; duplicates are collapsed, and at
            most 10 ids are kept.
          schema: { type: string }
          example: OGN001,OGN042
        - { name: sort, in: query, required: false, schema: { type: string, enum: [newest, oldest], default: newest } }
        - { name: page, in: query, required: false, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 100 } }
      responses:
        "200":
          description: Boosters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  boosters: { type: array, items: { $ref: "#/components/schemas/Booster" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Collection]
      summary: Create an empty booster to fill in
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameSlug, setCode, lang]
              properties:
                gameSlug: { type: string }
                setCode: { type: string }
                lang: { type: string }
                type:
                  type: string
                  default: other
                  description: >-
                    Booster type. Must be one of the types available for the game
                    (`other` is always accepted); any other value is rejected.
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get a booster
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Booster.
          content:
            application/json:
              schema: { type: object, properties: { booster: { $ref: "#/components/schemas/Booster" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Collection]
      summary: Update a booster's details
      description: At least one of `type` or `note` must be provided; omitted fields are left unchanged.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [type]
                - required: [note]
              properties:
                type:
                  type: string
                  description: >-
                    Booster type. Must be one of the types available for the game
                    (`other` is always accepted); any other value is rejected.
                note:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: >-
                    Free-form note, trimmed before storage. `null` or an empty
                    string clears the existing note.
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  type: { type: string, description: Present only when the type was updated. }
                  note: { type: string, nullable: true, description: Present only when the note was updated; `null` when it was cleared. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Delete a booster and its cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}/cards:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Add a card to a booster
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, setCode]
              properties:
                name: { type: string }
                setCode: { type: string }
                cardId: { type: string }
                collectorNumber: { type: string, default: "" }
                image: { type: string, default: "" }
                lang: { type: string }
                subtitle: { type: string }
                foil: { type: boolean }
      responses:
        "200": { description: Added., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Collection]
      summary: Toggle a booster card's foil status
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, foil]
              properties: { entryId: { type: string }, foil: { type: boolean } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove a card from a booster
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: entryId, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}/collection:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Copy every card in a booster into the caller's main collection
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Cards added.
          content:
            application/json:
              schema: { type: object, properties: { success: { type: boolean }, added: { type: integer } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove this booster's cards from the caller's main collection
      security: [{ sessionAuth: [] }]
      description: Cascades to remove any sell-list listings referencing the removed collection entries.
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Decks
  /cubes:
    get:
      tags: [Cubes]
      summary: List the caller's cubes
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Cubes owned by the caller, whatever their visibility.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cubes: { type: array, items: { $ref: "#/components/schemas/Cube" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Cubes]
      summary: Create a cube
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, gameSlug]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                gameSlug:
                  type: string
                  description: >-
                    Game the cube belongs to. It fixes which cards can be added
                    and cannot be changed afterwards.
                description: { type: string, maxLength: 2000 }
                visibility:
                  type: string
                  enum: [private, unlisted, public]
                  default: private
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cube" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: Get a cube and its packs
      description: >-
        A private cube answers 404 to anyone but its owner, so that the response
        does not reveal its existence.
      responses:
        "200":
          description: Cube.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cube: { $ref: "#/components/schemas/Cube" }
                  packs: { type: array, items: { $ref: "#/components/schemas/CubePack" } }
                  canEdit: { type: boolean }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Cubes]
      summary: Update a cube
      description: At least one field must be provided. The game is not editable.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [name]
                - required: [description]
                - required: [visibility]
                - required: [draw]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                description:
                  type: string
                  maxLength: 2000
                  description: An empty string clears the existing description.
                visibility: { type: string, enum: [private, unlisted, public] }
                draw: { $ref: "#/components/schemas/CubeDrawConfig" }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cube" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Cubes]
      summary: Delete a cube, its packs and their cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: List a cube's packs
      responses:
        "200":
          description: Packs, oldest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  packs: { type: array, items: { $ref: "#/components/schemas/CubePack" } }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Cubes]
      summary: Add a pack to a cube
      description: Both fields are optional - a pack with no name is displayed by its position.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 100 }
                type: { type: string, maxLength: 100 }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubePack" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs/{packId}:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
      - { name: packId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: Get a pack and its cards
      responses:
        "200":
          description: Pack.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pack: { $ref: "#/components/schemas/CubePack" }
                  cards: { type: array, items: { $ref: "#/components/schemas/CubeCard" } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Cubes]
      summary: Update a pack's name or type
      description: An empty string clears the corresponding field.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [name]
                - required: [type]
              properties:
                name: { type: string, maxLength: 100 }
                type: { type: string, maxLength: 100 }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubePack" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Cubes]
      summary: Delete a pack and its cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs/{packId}/cards:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
      - { name: packId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Cubes]
      summary: Add a card to a pack
      description: >-
        The same card may be added several times: a pack holds copies, not a set.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId, name, setCode, collectorNumber, image]
              properties:
                cardId: { type: string }
                name: { type: string }
                setCode: { type: string }
                collectorNumber: { type: string }
                image: { type: string }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubeCard" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Cubes]
      summary: Set how many copies of a card a pack holds
      description: >-
        Reconciles the pack with the wanted quantity by adding or removing
        entries, rather than clearing and reinserting them. A quantity of 0
        removes the card from the pack. Copies are matched by `cardId`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId, name, setCode, collectorNumber, image, quantity]
              properties:
                cardId: { type: string }
                name: { type: string }
                setCode: { type: string }
                collectorNumber: { type: string }
                image: { type: string }
                quantity: { type: integer, minimum: 0, maximum: 99 }
      responses:
        "200":
          description: The pack's cards after the change, one entry per copy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards: { type: array, items: { $ref: "#/components/schemas/CubeDrawnCard" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Cubes]
      summary: Remove one card entry from a pack
      security: [{ sessionAuth: [] }]
      parameters:
        - name: entryId
          in: query
          required: true
          description: Id of the card entry to remove, not the card id - a pack may hold several copies.
          schema: { type: string }
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/packs/{packId}/import:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
      - { name: packId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Cubes]
      summary: Import a card list into a pack
      description: >-
        Each line reads as `2x Card name #SET001`, where the quantity and the
        `#setCode+collectorNumber` printing code are optional. Blank lines and
        lines starting with `//` or `#` are ignored. Cards are matched against
        the game's catalogue by name, the printing code picking between
        reprints; a line whose name is unknown is matched on its printing code
        alone. Lines that match nothing are reported back rather than failing
        the whole import, and a list that matches nothing at all leaves the pack
        untouched.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, maxLength: 50000 }
                mode:
                  type: string
                  enum: [append, replace]
                  default: append
                  description: "`append` adds to the pack, `replace` empties it first."
      responses:
        "200":
          description: The pack's cards after the import, one entry per copy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  imported: { type: integer, description: Copies actually written. }
                  unresolved:
                    type: array
                    description: Lines whose card is absent from the game's catalogue.
                    items: { type: string }
                  invalidLines:
                    type: array
                    description: Lines the format does not cover.
                    items: { type: string }
                  cards: { type: array, items: { $ref: "#/components/schemas/CubeDrawnCard" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/export:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Cubes]
      summary: Export the whole cube as a card list
      description: >-
        Every pack in order, each announced by a `// pack name` comment and
        followed by its cards as `2x Card name #SET001`. Comments being ignored
        on import, the text can be pasted back into a pack. Open to anyone who
        can view the cube.
      security: []
      responses:
        "200":
          description: The cube as text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string }
        "404": { $ref: "#/components/responses/NotFound" }

  /cubes/{cubeId}/draw:
    parameters:
      - { name: cubeId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Cubes]
      summary: Draw the cube for a number of players
      description: >-
        Open to anonymous callers: only the cube's visibility gates access. The
        cube's stored configuration is used, falling back to the defaults (one
        pack per player, no duplicates) when it has none. Nothing is persisted -
        each call is an independent draw.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [players]
              properties:
                players: { type: integer, minimum: 1, maximum: 16 }
      responses:
        "200":
          description: One draw per player.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CubeDrawResult" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /decks:
    get:
      tags: [Decks]
      summary: Search decks
      security: []
      parameters:
        - { name: playerId, in: query, schema: { type: string } }
        - { name: gameId, in: query, schema: { type: string } }
        - name: visibility
          in: query
          description: >
            Repeatable: `?visibility=private&visibility=unlisted` is how a
            player asks for their own work in progress. `unlisted` is only
            accepted together with `scope=mine` - a deck reachable by link is
            not asked for in bulk, not even by its author, who finds it among
            their decks.
          style: form
          explode: true
          schema:
            type: array
            items: { type: string, enum: [private, unlisted, public] }
        - { name: search, in: query, description: "Regex match on name/description.", schema: { type: string } }
        - { name: format, in: query, description: "Exact play format, as declared on the deck.", schema: { type: string } }
        - { name: legendCardId, in: query, description: "Decks built around this legend. Values come from `GET /decks/legends`.", schema: { type: string } }
        - name: domain
          in: query
          description: "Repeatable. A deck matches when it covers every domain asked for."
          style: form
          explode: true
          schema: { type: array, items: { type: string } }
        - { name: sortBy, in: query, schema: { type: string, enum: [name, createdAt, updatedAt, favoritesCount, views], default: updatedAt } }
        - { name: sortOrder, in: query, schema: { type: string, enum: [asc, desc], default: desc } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 20 } }
        - name: scope
          in: query
          description: >
            `mine` for the caller's own decks whatever their visibility, `public`
            for the library (never returns `unlisted`), `all` for everything the
            caller may see. Without any of `scope`, `playerId` and `visibility`,
            only public decks are returned.
          schema: { type: string, enum: [mine, all, public] }
        - { name: favoritesOnly, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: >
            Paginated decks. Requesting another user's private decks (via
            `playerId` + `visibility=private`) is rejected; asking for
            `visibility=unlisted` outside `scope=mine` is a 400.
          content:
            application/json:
              schema:
                type: object
                properties:
                  decks: { type: array, items: { $ref: "#/components/schemas/Deck" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Decks]
      summary: Create a deck
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, gameId]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                gameId: { type: string, pattern: "^[0-9a-fA-F]{24}$" }
                url: { type: string, format: uri }
                description: { type: string, maxLength: 2000 }
                decklist: { type: string, maxLength: 20000 }
                cards: { $ref: "#/components/schemas/DeckCards" }
                guide: { type: array, maxItems: 20, items: { $ref: "#/components/schemas/DeckGuideSection" } }
                matchups: { type: array, maxItems: 40, items: { $ref: "#/components/schemas/DeckMatchup" } }
                notes: { type: string, maxLength: 4000 }
                format: { type: string, maxLength: 80 }
                legendCardId: { type: string, maxLength: 200 }
                coverCardId:
                  type: string
                  maxLength: 200
                  description: "A card of the deck, chosen to illustrate it. Absent, the legend serves as the cover."
                coverImageUrl:
                  type: string
                  format: uri
                  maxLength: 2000
                  description: >
                    A cover image uploaded through `POST /decks/{deckId}/cover`;
                    it wins over `coverCardId`. Only addresses on the
                    application's own blob storage are accepted - an arbitrary
                    host is rejected.
                visibility: { type: string, enum: [private, unlisted, public], default: private }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: "A deck with this name already exists for this player.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /decks/{deckId}:
    parameters:
      - { name: deckId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    get:
      tags: [Decks]
      summary: Get a deck
      security: []
      description: >
        Private decks are only visible to their owner (session optional;
        checked if present). `notes` is stripped for any caller other than the
        author.
      responses:
        "200": { description: Deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Decks]
      summary: Update a deck, or toggle favorite status
      security: [{ sessionAuth: [] }]
      description: >
        Two modes based on body shape: send `{ "favorite": boolean }` to toggle the
        caller's favorite on the deck, or any subset of the deck fields to update
        the deck itself (only the owner may do either).


        **Optimistic concurrency.** Every save bumps the deck's `version`. Send
        `expectedVersion` alongside the fields you are saving and the write only
        applies while the deck is still the one you read: if someone saved in
        between, nothing is written and the answer is `409` with `error:
        "conflict"` and the deck that got there first, so the client can
        resynchronise without a second round trip. Omit `expectedVersion` and the
        write is last-one-wins, as it has always been.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [favorite]
                  properties: { favorite: { type: boolean } }
                - type: object
                  minProperties: 1
                  properties:
                    name: { type: string, minLength: 1, maxLength: 100 }
                    gameId: { type: string, pattern: "^[0-9a-fA-F]{24}$" }
                    url: { type: string }
                    description: { type: string, maxLength: 2000 }
                    decklist: { type: string, maxLength: 20000 }
                    cards: { $ref: "#/components/schemas/DeckCards" }
                    guide: { type: array, maxItems: 20, items: { $ref: "#/components/schemas/DeckGuideSection" } }
                    matchups: { type: array, maxItems: 40, items: { $ref: "#/components/schemas/DeckMatchup" } }
                    notes: { type: string, maxLength: 4000 }
                    format: { type: string, maxLength: 80 }
                    legendCardId: { type: string, maxLength: 200 }
                    coverCardId:
                      type: string
                      maxLength: 200
                      description: >
                        A card of the deck, chosen to illustrate it. The empty
                        string clears the choice and hands the cover back to the
                        legend.
                    coverImageUrl:
                      description: >
                        A cover image uploaded through
                        `POST /decks/{deckId}/cover`; it wins over `coverCardId`.
                        Only addresses on the application's own blob storage are
                        accepted. The empty string removes it - hence the two
                        branches: the field is not always a URI.
                      oneOf:
                        - { type: string, format: uri, maxLength: 2000 }
                        - { type: string, enum: [""] }
                    visibility: { type: string, enum: [private, unlisted, public] }
                    expectedVersion:
                      type: integer
                      minimum: 1
                      description: >
                        The `version` the caller last read. Guards the write
                        against a concurrent save; it is never stored, and does
                        not on its own count as a field to update.
      responses:
        "200": { description: Updated deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: >
            Either the name collides with an existing deck of the same player,
            or `expectedVersion` was stale. The stale-version answer carries
            `error: "conflict"` and `deck`, the state that got there first.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      deck: { $ref: "#/components/schemas/Deck" }
    delete:
      tags: [Decks]
      summary: Delete a deck (owner only)
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /decks/{deckId}/copy:
    parameters:
      - { name: deckId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    post:
      tags: [Decks]
      summary: Copy a deck into the caller's own decks
      description: >
        Only reachable decks can be copied: another player's private deck cannot,
        and an unlisted one only by whoever has its link - so, by someone already
        on its page. **The copy lands `private`**: publishing someone else's list
        is a decision, not a side effect.
      security: [{ sessionAuth: [] }]
      responses:
        "201": { description: The new deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /decks/{deckId}/cover:
    parameters:
      - { name: deckId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    post:
      tags: [Decks]
      summary: Upload a cover image for a deck
      description: >
        Reserved to the deck's author. `multipart/form-data`, field `file`
        (JPG/PNG/WebP/GIF, max 5 MB). The route only stores the file and returns
        its address: it is a `PATCH /decks/{deckId}` with `coverImageUrl` that
        puts it on the deck.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties: { file: { type: string, format: binary } }
      responses:
        "200": { description: Uploaded., content: { application/json: { schema: { type: object, required: [url], properties: { url: { type: string, format: uri } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /decks/legends:
    get:
      tags: [Decks]
      summary: Legends played by published decks
      description: >
        Feeds the library's legend filter. The list comes from what is actually
        published, not from the card catalog: offering three hundred legends of
        which none has a deck would not make a filter. Public decks only, at
        most 200 entries, most played first.
      security: []
      parameters:
        - { name: gameId, in: query, schema: { type: string } }
      responses:
        "200":
          description: Legends and their deck counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  legends: { type: array, items: { $ref: "#/components/schemas/DeckLegendFacet" } }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Docs
  /docs:
    get:
      tags: [Docs]
      summary: Get this OpenAPI document as JSON
      security: []
      responses:
        "200":
          description: The static `openapi.json` document served as-is.

  # ---------------------------------------------------------------- Geo
  /geo/places:
    get:
      tags: [Geo]
      summary: Search places by city name or postcode
      description: |
        Autocompletion for the location fields ("near me", account location). Relays to Photon (Komoot's OpenStreetMap-backed geocoder) server-side, which lets the app send the `User-Agent` that service asks for and cache the answers — the same towns come up from one visitor to the next.

        Open to anonymous callers, like the near-me event search it serves. Queries shorter than 2 or longer than 120 characters return an empty list rather than an error.
      security: []
      parameters:
        - { name: q, in: query, required: true, description: City name or postcode., schema: { type: string, minLength: 2, maxLength: 120 } }
        - { name: lang, in: query, required: false, description: "Result language. `de`, `en`, `fr` and `it` are honoured; anything else falls back to the local language." , schema: { type: string } }
      responses:
        "200":
          description: Matching places, deduplicated by label, at most 6.
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, description: Stable key for list rendering., example: "R:120965" }
                        label: { type: string, example: "Lyon (69000), Auvergne-Rhône-Alpes, France" }
                        city: { type: string, nullable: true, example: "Lyon" }
                        postalCode: { type: string, nullable: true, example: "69000" }
                        latitude: { type: number, example: 45.764 }
                        longitude: { type: number, example: 4.8357 }
        "502": { description: The upstream geocoder is unreachable or errored. }

  # ---------------------------------------------------------------- Events
  /events:
    get:
      tags: [Events]
      summary: List events (calendar)
      security: []
      description: >
        Behavior depends on inputs: `lairId` scopes to one lair; an authenticated
        session returns events for the user's followed games (or `gameId`);
        an anonymous request with `userLat`/`userLon`/`maxDistance` searches
        nearby lairs; otherwise an anonymous request with no location returns
        an empty list.
      parameters:
        - { name: month, in: query, schema: { type: integer, minimum: 1, maximum: 12 } }
        - { name: year, in: query, schema: { type: integer, minimum: 2000, maximum: 3000 } }
        - { name: gameId, in: query, description: "Game id, or the special value `followed`.", schema: { type: string, default: followed } }
        - { name: lairId, in: query, description: "Scopes to one lair. The lair's privacy gate applies: a private lair is only readable by a follower, its team or an admin — anyone else gets 404, never 403.", schema: { type: string } }
        - { name: userLat, in: query, schema: { type: number } }
        - { name: userLon, in: query, schema: { type: number } }
        - { name: maxDistance, in: query, description: "Max distance in km, must be > 0.", schema: { type: number } }
        - { name: afterDate, in: query, description: "ISO date-time lower bound on startDateTime, independent of month/year. Only applied for an authenticated request (ignored for the lairId-scoped and anonymous-geospatial branches).", schema: { type: string, format: date-time } }
        - { name: beforeDate, in: query, description: "ISO date-time upper bound on startDateTime, independent of month/year. Only applied for an authenticated request (ignored for the lairId-scoped and anonymous-geospatial branches).", schema: { type: string, format: date-time } }
      responses:
        "200":
          description: Events.
          content:
            application/json:
              schema:
                type: object
                properties: { events: { type: array, items: { $ref: "#/components/schemas/Event" } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Events]
      summary: Get an event's detail
      description: Resolves an id already known to the caller (e.g. from a previous list call). A private event (no `lairId`) is only visible to its creator or a participant, same access model as the `/events/{eventId}` web page.
      security: [{ sessionAuth: [] }, {}]
      responses:
        "200": { description: Event., content: { application/json: { schema: { $ref: "#/components/schemas/Event" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}/favorite:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Events]
      summary: Toggle the caller's favorite on an event
      description: Same private-event access restriction as `GET /events/{eventId}` — favoriting doesn't grant visibility into an event the caller can't otherwise see.
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Updated favorite state., content: { application/json: { schema: { type: object, properties: { favorited: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}/favorited-users:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Events]
      summary: List users who favorited an event (organizer/lair-owner only)
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Favoriting users.
          content:
            application/json:
              schema:
                type: object
                properties: { users: { type: array, items: { $ref: "#/components/schemas/PublicUser" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Friends
  /friends:
    get:
      tags: [Friends]
      summary: List the caller's friends
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Friends., content: { application/json: { schema: { type: object, properties: { friends: { type: array, items: { $ref: "#/components/schemas/PublicUser" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Friends]
      summary: Send a friend request by username or displayName#discriminator tag
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [username], properties: { username: { type: string } } }
      responses:
        "201": { description: Request created., content: { application/json: { schema: { type: object, properties: { friendRequest: { $ref: "#/components/schemas/FriendRequest" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Already friends, or a request is already pending.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /friends/{friendId}:
    parameters:
      - { name: friendId, in: path, required: true, schema: { type: string } }
    delete:
      tags: [Friends]
      summary: Remove a friend (bidirectional)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /friends/code:
    get:
      tags: [Friends]
      summary: Get (or lazily create) the caller's own friend code
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Friend code., content: { application/json: { schema: { type: object, properties: { code: { type: string } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /friends/scan:
    post:
      tags: [Friends]
      summary: Add a friend immediately by scanning/entering their friend code
      description: Unlike `POST /friends`, this adds the friendship immediately (no accept step) and also auto-resolves any pending request between the two users.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string, description: "8 characters from [23456789ABCDEFGHJKMNPQRSTUVWXYZ]." } }
      responses:
        "200": { description: Friend added., content: { application/json: { schema: { type: object, properties: { friend: { $ref: "#/components/schemas/PublicUser" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Already friends., content: { application/json: { schema: { type: object, properties: { error: { type: string }, friend: { $ref: "#/components/schemas/PublicUser" } } } } } }

  /friends/requests:
    get:
      tags: [Friends]
      summary: List pending incoming friend requests
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Pending requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      allOf:
                        - { $ref: "#/components/schemas/FriendRequest" }
                        - type: object
                          properties: { requester: { $ref: "#/components/schemas/PublicUser" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /friends/requests/{requestId}:
    parameters:
      - { name: requestId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Friends]
      summary: Accept a pending friend request (recipient only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Accepted., content: { application/json: { schema: { type: object, properties: { friendRequest: { $ref: "#/components/schemas/FriendRequest" } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    delete:
      tags: [Friends]
      summary: Decline a pending friend request (recipient only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Declined., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Game Matches
  /game-matches:
    get:
      tags: [Game Matches]
      summary: The caller's casual matches, most recent first
      description: >
        "Their" matches in the broad sense: the ones they created as well as the
        ones someone else signed them up for. The battle report is trimmed to its
        scenario here — army lists and the game table are only served on the
        match sheet.
      security: [{ sessionAuth: [] }, { apiKeyAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
        - { name: gameId, in: query, description: "Game ObjectId.", schema: { type: string } }
        - { name: from, in: query, description: "Played on or after this day (`YYYY-MM-DD`).", schema: { type: string } }
        - { name: to, in: query, description: "Played on or before this day, that day included.", schema: { type: string } }
      responses:
        "200":
          description: Matches.
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches: { type: array, items: { $ref: "#/components/schemas/GameMatchSummary" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /game-matches/{matchId}:
    parameters:
      - { name: matchId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Game Matches]
      summary: One match, battle report included
      description: "Restricted to those who were there: its creator and its players."
      security: [{ sessionAuth: [] }, { apiKeyAuth: [] }]
      responses:
        "200":
          description: Match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GameMatchDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /game-matches/{matchId}/battle-map:
    parameters:
      - { name: matchId, in: path, required: true, schema: { type: string } }
    put:
      tags: [Game Matches]
      summary: Write the game table of a battle report
      description: >
        Written as a whole, unlike the scenario and the notes: the pieces of the
        table hold one another, and a terrain moved without its instant means
        nothing. Creator only — the table is a single drawing, and two players
        moving tokens in the same instant would reposition the whole game rather
        than overwrite one field. What sticks out is brought back, not refused:
        tokens are clamped onto the board and terrain, tokens and instants are
        capped, so a report never becomes unsaveable because its table shrank.
        The normalized table is returned.
      security: [{ sessionAuth: [] }, { apiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [map]
              properties: { map: { $ref: "#/components/schemas/BattleMap" } }
      responses:
        "200":
          description: Table written.
          content:
            application/json:
              schema:
                type: object
                required: [map]
                properties: { map: { $ref: "#/components/schemas/BattleMap" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /game-matches/{matchId}/join:
    parameters:
      - { name: matchId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Game Matches]
      summary: Join a casual game match via an invite link
      description: >
        Browser-navigation endpoint (not meant to be called via XHR/fetch): always
        responds with an HTTP redirect, never JSON. Redirects to `/login` if not
        authenticated, otherwise to the match page with a French success/error
        message in the query string.
      security: [{ sessionAuth: [] }]
      responses:
        "302":
          description: >
            Redirect to `/login?callbackUrl=...` (not authenticated), or to
            `/game-matches/{matchId}?message=...` / `/game-matches?error=...`
            depending on outcome.
    post:
      tags: [Game Matches]
      summary: The same move, in JSON
      description: >
        For clients that scan the invite QR code without a browser. Joining twice
        is not an error — the QR code stays on screen and gets scanned again:
        `joined` is then `false`, and the match is returned either way.
      security: [{ sessionAuth: [] }, { apiKeyAuth: [] }]
      responses:
        "200":
          description: Joined, or already a player.
          content:
            application/json:
              schema:
                type: object
                properties:
                  joined: { type: boolean }
                  match: { $ref: "#/components/schemas/GameMatchDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /tournaments/playing:
    get:
      tags: [Tournaments]
      summary: Tournaments the caller is registered in
      description: >
        Unlike the sync-key endpoint, no secret is required: a session (or API
        key) is enough. **Two response shapes, deliberately.** With no query
        parameter the full list is returned as a bare array, the way it always
        was, for clients already installed. As soon as a page or a filter is
        asked for, the response becomes a paginated envelope. In that mode
        tournaments **in progress come first** — they are the only thing anyone
        looks for on the day, and a pagination that buried them would miss its
        point. A date filter only keeps tournaments that carry a date.
      security: [{ sessionAuth: [] }, { apiKeyAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: search, in: query, description: "Case-insensitive match on the tournament name.", schema: { type: string } }
        - { name: status, in: query, description: "Comma-separated statuses to keep. Absent = all.", schema: { type: string, example: "draft,in-progress" } }
        - { name: gameId, in: query, schema: { type: string } }
        - { name: from, in: query, description: "Starts on or after this day (`YYYY-MM-DD`)." , schema: { type: string } }
        - { name: to, in: query, description: "Starts on or before this day, that day included.", schema: { type: string } }
      responses:
        "200":
          description: Tournaments, as an array (no parameters) or a paginated envelope.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        tournament: { type: object }
                        player: { type: object }
                  - type: object
                    properties:
                      tournaments:
                        type: array
                        items:
                          type: object
                          properties:
                            tournament: { type: object }
                            player: { type: object }
                      total: { type: integer }
                      page: { type: integer }
                      limit: { type: integer }
                      totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ---------------------------------------------------------------- Games
  /games:
    get:
      tags: [Games]
      summary: List games (catalog)
      security: []
      description: Returns up to 25 games with a lightweight projection; no pagination/filtering supported.
      responses:
        "200":
          description: Games.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/GameSummary" }

  /games/{gameId}:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug or Mongo ObjectId.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a game
      security: []
      responses:
        "200": { description: Game., content: { application/json: { schema: { $ref: "#/components/schemas/Game" } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/cards:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug; used as a Meilisearch index key.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Search a game's card catalog (Meilisearch-backed)
      security: []
      description: >
        Response is a bare array unless `page` or `limit` is supplied, in which
        case it becomes a paginated object including facet lists. `searchQuery`
        supports inline directives: `set:<code>` / `e:<code>` to filter by set
        (overrides `setCode`; `set:*` disables set filtering), and
        `cn:<code>` to filter by exact collector number.


        Game attributes can also be filtered and sorted on. The attributes a game actually has are
        returned as `facets`; anything outside them is ignored rather than passed to the search engine.
        Numeric attributes take `min_<attr>` / `max_<attr>` (inverted bounds are swapped), value
        attributes take `in_<attr>` as a comma-separated list (values within one attribute are OR-ed,
        attributes are AND-ed). `sort` is `<key>:asc|desc` over `name`, `collectorNumber` or any numeric
        attribute.


        Filtering and sorting require the attribute to be declared on the Meilisearch index, which the
        admin "update index" action does. Until it has run for a game, the search falls back to
        returning results without those criteria and sets `filtersUnavailable`.
      parameters:
        - { name: setCode, in: query, schema: { type: string } }
        - { name: searchQuery, in: query, schema: { type: string } }
        - { name: lang, in: query, schema: { type: string, default: all } }
        - { name: type, in: query, schema: { type: string } }
        - { name: sort, in: query, description: "`<key>:asc|desc`.", schema: { type: string } }
        - { name: "min_{attribute}", in: query, description: "Lower bound of a numeric attribute.", schema: { type: number } }
        - { name: "max_{attribute}", in: query, description: "Upper bound of a numeric attribute.", schema: { type: number } }
        - { name: "in_{attribute}", in: query, description: "Comma-separated values of a value attribute.", schema: { type: string } }
        - { name: page, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer, default: 24, maximum: 100 } }
      responses:
        "200":
          description: Cards, or a paginated result if `page`/`limit` is present.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items: { $ref: "#/components/schemas/BoosterCard" }
                  - type: object
                    properties:
                      cards: { type: array, items: { $ref: "#/components/schemas/BoosterCard" } }
                      total: { type: integer }
                      page: { type: integer }
                      limit: { type: integer }
                      totalPages: { type: integer }
                      setCodes: { type: array, items: { type: string } }
                      types: { type: array, items: { type: string } }
                      languages: { type: array, items: { type: string } }
                      facets: { type: array, items: { $ref: "#/components/schemas/CardFilterFacet" } }
                      filtersUnavailable:
                        type: boolean
                        description: "The index does not accept attribute filters yet; the results ignore them."

  /games/{gameId}/cards/{cardId}:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug (exact match only).", schema: { type: string } }
      - { name: cardId, in: path, required: true, description: "Card's own `id` field, scoped to the resolved game.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a card's detail, including its erratas
      security: []
      description: Session is optional; if present, `userVote` is populated on each errata.
      responses:
        "200":
          description: Card detail with erratas and mentioned-card lookups.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BoosterCard"
                  - type: object
                    properties:
                      game: { type: object, properties: { id: { type: string }, name: { type: string }, slug: { type: string } } }
                      erratas: { type: array, items: { $ref: "#/components/schemas/Errata" } }
                      cardIdByName: { type: object, additionalProperties: { type: string } }
                      cardsById: { type: object, additionalProperties: { $ref: "#/components/schemas/CardNameMatch" } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/deck-cards:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug or id.", schema: { type: string } }
    get:
      tags: [Decks]
      summary: Resolve a deck's cards against the game catalog
      description: >
        What a deck needs to show its contents: the catalog entry behind each
        `cardId`. `id` is repeatable and also accepts a comma-separated list;
        at most 500 ids per call - the size of a very large deck, not of an
        import.
      security: []
      parameters:
        - name: id
          in: query
          style: form
          explode: true
          schema: { type: array, items: { type: string } }
      responses:
        "200":
          description: The cards that were found. An unknown id simply has no entry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards: { type: array, items: { $ref: "#/components/schemas/DeckCardInfo" } }
        "400": { description: "More than 500 ids asked for.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Decks]
      summary: Resolve card names against the game catalog
      description: >
        The other half of the same need: turning a pasted list into deck
        contents. Names are matched without case or diacritics, since a list
        copied by hand does not always carry them.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [names]
              properties:
                names: { type: array, maxItems: 1000, items: { type: string, minLength: 1, maxLength: 200 } }
      responses:
        "200":
          description: >
            Matches keyed by the name **as it was sent**, not as the card is
            spelled in the catalog - the caller matched on its own text, and
            the two can differ by an accent. A name with no match has no key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: object
                    additionalProperties: { $ref: "#/components/schemas/DeckCardInfo" }
[...]
