openapi: 3.1.0
info:
  title: Joutes API
  description: >
    REST API for Joutes, a companion platform for trading card game communities
    (collection tracking, decks, news, quizzes, scanner/OCR card recognition,
    events, lairs, leagues, friends, play groups, wishlists and sell lists).
    Most endpoints require an authenticated session created via the
    `/auth/*` endpoints (Better Auth). A few write endpoints additionally
    require a specific permission (e.g. `news:update`, `scanner:ai`) or
    admin status - this is noted in each operation's description.
  version: "2.0.0"
servers:
  - url: https://joutes.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
tags:
  - name: Auth
    description: Authentication, OAuth2/OIDC provider and session management (Better Auth).
  - name: Collection
    description: Personal card collection, booster/pack tracking and collection completion stats.
  - name: Decks
    description: Public and private deck lists linked to a game.
  - name: Docs
    description: This OpenAPI document.
  - name: Events
    description: Tournament / event calendar entries tied to lairs.
  - name: Friends
    description: Friend list, friend requests and friend codes.
  - name: Game Matches
    description: Casual game match invitations/joining.
  - name: Games
    description: Game catalog, cards, rules, policies, news, quizzes and scanner recognition per game.
  - name: Lairs
    description: Game stores / venues ("lairs") that host events.
  - name: Leagues
    description: League rankings (league CRUD itself is a server action, not a REST endpoint).
  - name: News
    description: News articles, optionally linked to a game.
  - name: Play Groups
    description: Shared groups for pooled collections, wishlists and sell lists.
  - name: Quizzes
    description: Quizzes, optionally linked to a game.
  - name: Sell Lists
    description: Cards a user or play group is offering for sale.
  - name: Upload
    description: Generic admin file upload to blob storage.
  - name: Users
    description: Public user profiles, and a user's public wishlists/sell list.
  - name: Wishlists
    description: Cards a user or play group is looking for.
  - name: Cron
    description: Internal scheduled jobs, protected by a shared secret. Not intended for client use.
paths:
  # ---------------------------------------------------------------- Auth
  /auth/{path}:
    parameters:
      - name: path
        in: path
        required: true
        description: >
          Catch-all segment(s) handled by Better Auth, e.g. `sign-in/email-otp`,
          `sign-out`, `session`, `oauth2/authorize`, `oauth2/token`,
          `oauth2/register`, `jwks`, passkey and email-OTP routes. The exact
          set of sub-routes is defined by the Better Auth plugins configured
          in `lib/auth.ts` (email OTP, passkey, JWT, OAuth provider, Discord
          social sign-in) and is not exhaustively enumerable here.
        schema:
          type: string
    get:
      tags: [Auth]
      summary: Better Auth catch-all (read operations)
      description: Delegates to Better Auth's internal handler (e.g. session lookup, OAuth2 authorize, JWKS).
      security: []
      responses:
        "200":
          description: Response shape depends on the Better Auth sub-route invoked.
    post:
      tags: [Auth]
      summary: Better Auth catch-all (write operations)
      description: Delegates to Better Auth's internal handler (e.g. sign-in, sign-out, OAuth2 token exchange, passkey registration).
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Body shape depends on the Better Auth sub-route invoked.
      responses:
        "200":
          description: Response shape depends on the Better Auth sub-route invoked.

  /auth/.well-known/oauth-authorization-server:
    get:
      tags: [Auth]
      summary: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      description: Framework-generated discovery document for the Better Auth OAuth provider plugin.
      security: []
      responses:
        "200":
          description: OAuth 2.0 authorization server metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer: { type: string }
                  authorization_endpoint: { type: string }
                  token_endpoint: { type: string }
                  registration_endpoint: { type: string }
                  jwks_uri: { type: string }
                  response_types_supported: { type: array, items: { type: string } }
                  grant_types_supported: { type: array, items: { type: string } }
                  scopes_supported: { type: array, items: { type: string } }

  /auth/.well-known/openid-configuration:
    get:
      tags: [Auth]
      summary: OpenID Connect Discovery document
      description: Framework-generated OIDC discovery metadata for the Better Auth OAuth provider plugin.
      security: []
      responses:
        "200":
          description: OpenID Connect discovery metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer: { type: string }
                  authorization_endpoint: { type: string }
                  token_endpoint: { type: string }
                  userinfo_endpoint: { type: string }
                  jwks_uri: { type: string }
                  response_types_supported: { type: array, items: { type: string } }
                  subject_types_supported: { type: array, items: { type: string } }
                  scopes_supported: { type: array, items: { type: string } }

  # ---------------------------------------------------------------- Collection
  /collection:
    get:
      tags: [Collection]
      summary: Get the caller's collection overview across all games
      security: [{ sessionAuth: [] }]
      parameters:
        - name: includeEmpty
          in: query
          description: When `true`, include games with 0% completion (default only shows games the user owns at least one item in).
          schema: { type: string, enum: ["true", "false"] }
      responses:
        "200":
          description: Collection overview.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionOverview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/cards:
    get:
      tags: [Collection]
      summary: List the caller's collected cards (grouped by printing)
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: gameSlug, in: query, description: "Exact slug match only (no ObjectId fallback).", schema: { type: string } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, description: "Card type filter.", schema: { type: string } }
      responses:
        "200":
          description: Grouped collection cards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        setCode: { type: string }
                        collectorNumber: { type: string }
                        image: { type: string }
                        quantity: { type: integer }
                  total: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Collection]
      summary: Add a single card to the caller's collection
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionCardInput" }
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties: { id: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /collection/cards/{cardId}:
    parameters:
      - { name: cardId, in: path, required: true, description: "Catalog card id (not a collection entry id).", schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get every owned copy of a catalog card
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Owned copies of the card.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quantity: { type: integer }
                  cards:
                    type: array
                    items: { $ref: "#/components/schemas/CollectionCardEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [Collection]
      summary: Mark/unmark a specific collection entry as borrowed
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, borrowedBy]
              additionalProperties: false
              properties:
                entryId: { type: string, minLength: 1, maxLength: 100 }
                borrowedBy: { type: string, minLength: 1, maxLength: 100, nullable: true, description: "Pass null to clear." }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties: { id: { type: string }, borrowedBy: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove an owned copy of a catalog card
      security: [{ sessionAuth: [] }]
      parameters:
        - name: entryId
          in: query
          description: Specific collection entry id to delete. If omitted, an arbitrary matching copy is removed.
          schema: { type: string }
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/games/{gameSlug}:
    parameters:
      - { name: gameSlug, in: path, required: true, description: "Game slug or Mongo ObjectId.", schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get the caller's collection completion for a specific game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: search, in: query, description: "Case-insensitive substring match on card name.", schema: { type: string } }
        - { name: owned, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Game collection page with completion stats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        setCode: { type: string }
                        collectorNumber: { type: string }
                        image: { type: string }
                        type: { type: string }
                        quantity: { type: integer }
                        variantsOwned: { type: integer }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  setCodes: { type: array, items: { type: string } }
                  types: { type: array, items: { type: string } }
                  stats: { $ref: "#/components/schemas/GameCollectionStats" }
                  game:
                    type: object
                    properties: { id: { type: string }, name: { type: string }, slug: { type: string } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /collection/games/{gameSlug}/variants:
    parameters:
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: List all owned printings/variants of a card by exact name
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: name, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Array of card variants (raw array, not wrapped).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    setCode: { type: string }
                    collectorNumber: { type: string }
                    image: { type: string }
                    type: { type: string }
                    quantity: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters:
    get:
      tags: [Collection]
      summary: List the caller's boosters/packs for a game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: gameSlug, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Boosters.
          content:
            application/json:
              schema:
                type: object
                properties: { boosters: { type: array, items: { $ref: "#/components/schemas/Booster" } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Collection]
      summary: Create an empty booster to fill in
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameSlug, setCode, lang]
              properties:
                gameSlug: { type: string }
                setCode: { type: string }
                lang: { type: string }
                type: { type: string, default: custom }
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Collection]
      summary: Get a booster
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Booster.
          content:
            application/json:
              schema: { type: object, properties: { booster: { $ref: "#/components/schemas/Booster" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Delete a booster and its cards
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Deleted., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}/cards:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Add a card to a booster
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, setCode]
              properties:
                name: { type: string }
                setCode: { type: string }
                cardId: { type: string }
                collectorNumber: { type: string, default: "" }
                image: { type: string, default: "" }
                lang: { type: string }
                subtitle: { type: string }
                foil: { type: boolean }
      responses:
        "200": { description: Added., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Collection]
      summary: Toggle a booster card's foil status
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, foil]
              properties: { entryId: { type: string }, foil: { type: boolean } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove a card from a booster
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: entryId, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /collection/boosters/{boosterId}/collection:
    parameters:
      - { name: boosterId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Collection]
      summary: Copy every card in a booster into the caller's main collection
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Cards added.
          content:
            application/json:
              schema: { type: object, properties: { success: { type: boolean }, added: { type: integer } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Collection]
      summary: Remove this booster's cards from the caller's main collection
      security: [{ sessionAuth: [] }]
      description: Cascades to remove any sell-list listings referencing the removed collection entries.
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Decks
  /decks:
    get:
      tags: [Decks]
      summary: Search decks
      security: []
      parameters:
        - { name: playerId, in: query, schema: { type: string } }
        - { name: gameId, in: query, schema: { type: string } }
        - { name: visibility, in: query, schema: { type: string, enum: [private, public] } }
        - { name: search, in: query, description: "Regex match on name/description.", schema: { type: string } }
        - { name: sortBy, in: query, schema: { type: string, enum: [name, createdAt, updatedAt], default: updatedAt } }
        - { name: sortOrder, in: query, schema: { type: string, enum: [asc, desc], default: desc } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 20 } }
        - { name: scope, in: query, schema: { type: string, enum: [mine, all] } }
        - { name: favoritesOnly, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Paginated decks. Requesting another user's private decks (via `playerId` + `visibility=private`) is rejected.
          content:
            application/json:
              schema:
                type: object
                properties:
                  decks: { type: array, items: { $ref: "#/components/schemas/Deck" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Decks]
      summary: Create a deck
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, gameId]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                gameId: { type: string, pattern: "^[0-9a-fA-F]{24}$" }
                url: { type: string, format: uri }
                description: { type: string, maxLength: 2000 }
                decklist: { type: string, maxLength: 20000 }
                visibility: { type: string, enum: [private, public], default: private }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: "A deck with this name already exists for this player.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /decks/{deckId}:
    parameters:
      - { name: deckId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    get:
      tags: [Decks]
      summary: Get a deck
      security: []
      description: Private decks are only visible to their owner (session optional; checked if present).
      responses:
        "200": { description: Deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Decks]
      summary: Update a deck, or toggle favorite status
      security: [{ sessionAuth: [] }]
      description: >
        Two modes based on body shape: send `{ "favorite": boolean }` to toggle the
        caller's favorite on the deck, or any subset of the deck fields to update
        the deck itself (only the owner may do either).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [favorite]
                  properties: { favorite: { type: boolean } }
                - type: object
                  minProperties: 1
                  properties:
                    name: { type: string, minLength: 1, maxLength: 100 }
                    gameId: { type: string, pattern: "^[0-9a-fA-F]{24}$" }
                    url: { type: string }
                    description: { type: string, maxLength: 2000 }
                    decklist: { type: string, maxLength: 20000 }
                    visibility: { type: string, enum: [private, public] }
      responses:
        "200": { description: Updated deck., content: { application/json: { schema: { $ref: "#/components/schemas/Deck" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Name collides with an existing deck of the same player.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    delete:
      tags: [Decks]
      summary: Delete a deck (owner only)
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Docs
  /docs:
    get:
      tags: [Docs]
      summary: Get this OpenAPI document as JSON
      security: []
      responses:
        "200":
          description: The static `openapi.json` document served as-is.

  # ---------------------------------------------------------------- Events
  /events:
    get:
      tags: [Events]
      summary: List events (calendar)
      security: []
      description: >
        Behavior depends on inputs: `lairId` scopes to one lair; an authenticated
        session returns events for the user's followed games (or `gameId`);
        an anonymous request with `userLat`/`userLon`/`maxDistance` searches
        nearby lairs; otherwise an anonymous request with no location returns
        an empty list.
      parameters:
        - { name: month, in: query, schema: { type: integer, minimum: 1, maximum: 12 } }
        - { name: year, in: query, schema: { type: integer, minimum: 2000, maximum: 3000 } }
        - { name: gameId, in: query, description: "Game id, or the special value `followed`.", schema: { type: string, default: followed } }
        - { name: lairId, in: query, schema: { type: string } }
        - { name: userLat, in: query, schema: { type: number } }
        - { name: userLon, in: query, schema: { type: number } }
        - { name: maxDistance, in: query, description: "Max distance in km, must be > 0.", schema: { type: number } }
      responses:
        "200":
          description: Events.
          content:
            application/json:
              schema:
                type: object
                properties: { events: { type: array, items: { $ref: "#/components/schemas/Event" } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events/{eventId}/favorited-users:
    parameters:
      - { name: eventId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Events]
      summary: List users who favorited an event (organizer/lair-owner only)
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Favoriting users.
          content:
            application/json:
              schema:
                type: object
                properties: { users: { type: array, items: { $ref: "#/components/schemas/PublicUser" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Friends
  /friends:
    get:
      tags: [Friends]
      summary: List the caller's friends
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Friends., content: { application/json: { schema: { type: object, properties: { friends: { type: array, items: { $ref: "#/components/schemas/PublicUser" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Friends]
      summary: Send a friend request by username or displayName#discriminator tag
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [username], properties: { username: { type: string } } }
      responses:
        "201": { description: Request created., content: { application/json: { schema: { type: object, properties: { friendRequest: { $ref: "#/components/schemas/FriendRequest" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Already friends, or a request is already pending.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /friends/{friendId}:
    parameters:
      - { name: friendId, in: path, required: true, schema: { type: string } }
    delete:
      tags: [Friends]
      summary: Remove a friend (bidirectional)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /friends/code:
    get:
      tags: [Friends]
      summary: Get (or lazily create) the caller's own friend code
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Friend code., content: { application/json: { schema: { type: object, properties: { code: { type: string } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /friends/scan:
    post:
      tags: [Friends]
      summary: Add a friend immediately by scanning/entering their friend code
      description: Unlike `POST /friends`, this adds the friendship immediately (no accept step) and also auto-resolves any pending request between the two users.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string, description: "8 characters from [23456789ABCDEFGHJKMNPQRSTUVWXYZ]." } }
      responses:
        "200": { description: Friend added., content: { application/json: { schema: { type: object, properties: { friend: { $ref: "#/components/schemas/PublicUser" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Already friends., content: { application/json: { schema: { type: object, properties: { error: { type: string }, friend: { $ref: "#/components/schemas/PublicUser" } } } } } }

  /friends/requests:
    get:
      tags: [Friends]
      summary: List pending incoming friend requests
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Pending requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      allOf:
                        - { $ref: "#/components/schemas/FriendRequest" }
                        - type: object
                          properties: { requester: { $ref: "#/components/schemas/PublicUser" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /friends/requests/{requestId}:
    parameters:
      - { name: requestId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Friends]
      summary: Accept a pending friend request (recipient only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Accepted., content: { application/json: { schema: { type: object, properties: { friendRequest: { $ref: "#/components/schemas/FriendRequest" } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    delete:
      tags: [Friends]
      summary: Decline a pending friend request (recipient only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Declined., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Game Matches
  /game-matches/{matchId}/join:
    parameters:
      - { name: matchId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Game Matches]
      summary: Join a casual game match via an invite link
      description: >
        Browser-navigation endpoint (not meant to be called via XHR/fetch): always
        responds with an HTTP redirect, never JSON. Redirects to `/login` if not
        authenticated, otherwise to the match page with a French success/error
        message in the query string.
      security: [{ sessionAuth: [] }]
      responses:
        "302":
          description: >
            Redirect to `/login?callbackUrl=...` (not authenticated), or to
            `/game-matches/{matchId}?message=...` / `/game-matches?error=...`
            depending on outcome.

  # ---------------------------------------------------------------- Games
  /games:
    get:
      tags: [Games]
      summary: List games (catalog)
      security: []
      description: Returns up to 25 games with a lightweight projection; no pagination/filtering supported.
      responses:
        "200":
          description: Games.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/GameSummary" }

  /games/{gameId}:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug or Mongo ObjectId.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a game
      security: []
      responses:
        "200": { description: Game., content: { application/json: { schema: { $ref: "#/components/schemas/Game" } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/cards:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug; used as a Meilisearch index key.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Search a game's card catalog (Meilisearch-backed)
      security: []
      description: >
        Response is a bare array unless `page` or `limit` is supplied, in which
        case it becomes a paginated object including facet lists. `searchQuery`
        supports inline directives: `set:<code>` / `e:<code>` to filter by set
        (overrides `setCode`; `set:*` disables set filtering), and
        `cn:<code>` to filter by exact collector number.
      parameters:
        - { name: setCode, in: query, schema: { type: string } }
        - { name: searchQuery, in: query, schema: { type: string } }
        - { name: lang, in: query, schema: { type: string, default: all } }
        - { name: type, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer, default: 24, maximum: 100 } }
      responses:
        "200":
          description: Cards, or a paginated result if `page`/`limit` is present.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items: { $ref: "#/components/schemas/BoosterCard" }
                  - type: object
                    properties:
                      cards: { type: array, items: { $ref: "#/components/schemas/BoosterCard" } }
                      total: { type: integer }
                      page: { type: integer }
                      limit: { type: integer }
                      totalPages: { type: integer }
                      setCodes: { type: array, items: { type: string } }
                      types: { type: array, items: { type: string } }
                      languages: { type: array, items: { type: string } }

  /games/{gameId}/cards/{cardId}:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug (exact match only).", schema: { type: string } }
      - { name: cardId, in: path, required: true, description: "Card's own `id` field, scoped to the resolved game.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get a card's detail, including its erratas
      security: []
      description: Session is optional; if present, `userVote` is populated on each errata.
      responses:
        "200":
          description: Card detail with erratas and mentioned-card lookups.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BoosterCard"
                  - type: object
                    properties:
                      game: { type: object, properties: { id: { type: string }, name: { type: string }, slug: { type: string } } }
                      erratas: { type: array, items: { $ref: "#/components/schemas/Errata" } }
                      cardIdByName: { type: object, additionalProperties: { type: string } }
                      cardsById: { type: object, additionalProperties: { $ref: "#/components/schemas/CardNameMatch" } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/deck-checker:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Validate/parse a Riftbound deck list
      security: []
      description: Only supported for the game whose slug is `riftbound`. Accepts a Piltover Archive deck URL, a Piltover deck code, or a raw pasted deck list.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [deckList], properties: { deckList: { type: string } } }
      responses:
        "200":
          description: Parsed deck.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deck: { $ref: "#/components/schemas/RiftboundDeckList" }
                  link: { type: string }
                  code: { type: string }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }
        "500": { description: Failed to verify decklist., content: { application/json: { schema: { $ref: "#/components/schemas/NestedError" } } } }

  /games/{gameId}/loop:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Auto-link recognized card names in free text ("Loupe")
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties: { text: { type: string, maxLength: 20000 } }
      responses:
        "200":
          description: Annotated text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw: { type: string }
                  annotated: { type: string }
                  cards:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/CardNameMatch"
                        - type: object
                          properties: { erratas: { type: array, items: { $ref: "#/components/schemas/Errata" } } }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }

  /games/{gameId}/news:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List news linked to a game
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
      responses:
        "200":
          description: Paginated news.
          content:
            application/json:
              schema:
                type: object
                properties:
                  news: { type: array, items: { $ref: "#/components/schemas/News" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/policies:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List/search a game's rulings & policies
      security: []
      description: >
        Response body is a raw array; pagination totals are returned via the
        `x-page`, `x-page-size` and `x-count` response headers instead of the body.
      parameters:
        - { name: searchQuery, in: query, description: "Full-text search on title/content.", schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10 } }
      responses:
        "200":
          description: Policies.
          headers:
            x-page: { schema: { type: string } }
            x-page-size: { schema: { type: string } }
            x-count: { schema: { type: string } }
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/Policy" } }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Games]
      summary: (Stub) Create a policy for a game
      description: >
        Requires permission `policies:update`. Currently a stub: it does not read
        a request body nor persist anything, and always returns `{}` on success.
        An unauthorized call surfaces as an unhandled server error rather than a
        clean 401/403.
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: "Stub response, always `{}`." , content: { application/json: { schema: { type: object } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/quizzes:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List quizzes linked to a game
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
      responses:
        "200":
          description: Paginated quizzes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quizzes: { type: array, items: { $ref: "#/components/schemas/Quiz" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/rules:
    parameters:
      - { name: gameId, in: path, required: true, description: "Game slug (only `riftbound` is currently supported).", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get/search Riftbound rules text (Comprehensive Rules / Tournament Rules)
      security: []
      description: Rules content is sourced from static local JSON files, not the database.
      parameters:
        - { name: document, in: query, schema: { type: string, enum: [TR, CR] } }
        - { name: lang, in: query, schema: { type: string, enum: [en, fr], default: en } }
        - { name: ruleId, in: query, schema: { type: string } }
        - { name: searchQuery, in: query, description: "If present, search mode takes priority over document/ruleId listing.", schema: { type: string } }
        - { name: limit, in: query, description: "Only used in search mode, defaults to 30.", schema: { type: integer } }
      responses:
        "200":
          description: Rule entries (shape depends on whether `searchQuery`/`ruleId` is used).
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/RuleEntry" } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /games/{gameId}/scanner/ai-match:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Identify a card from a photo using AI vision
      description: Requires permission `scanner:ai` (rate/cost-sensitive external AI call).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string, description: "Base64 data URL, e.g. data:image/jpeg;base64,...", maxLength: 8000000 }
      responses:
        "200":
          description: Best match, if any.
          content:
            application/json:
              schema:
                type: object
                properties:
                  match: { $ref: "#/components/schemas/ScannerMatch" }
                  identification: { $ref: "#/components/schemas/AiIdentification" }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "403": { description: Missing scanner:ai permission., content: { application/json: { schema: { $ref: "#/components/schemas/NestedError" } } } }
        "404": { $ref: "#/components/responses/NestedNotFound" }
        "502": { description: AI identification failed., content: { application/json: { schema: { $ref: "#/components/schemas/NestedError" } } } }

  /games/{gameId}/scanner/match:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Games]
      summary: Fuzzy-match card text (e.g. from on-device OCR) against the catalog
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 3, maxLength: 5000 }
                lang: { type: string }
      responses:
        "200":
          description: "Best match, if any (null if text shorter than 3 characters)."
          content:
            application/json:
              schema: { type: object, properties: { match: { $ref: "#/components/schemas/ScannerMatch" } } }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }

  /games/{gameId}/scanner/names:
    parameters:
      - { name: gameId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Games]
      summary: List distinct card names for a set (used to seed local OCR matching)
      security: []
      parameters:
        - { name: setCode, in: query, required: true, schema: { type: string } }
        - { name: lang, in: query, schema: { type: string } }
      responses:
        "200":
          description: Names.
          content:
            application/json:
              schema:
                type: object
                properties: { names: { type: array, items: { type: object, properties: { id: { type: string }, name: { type: string } } } } }
        "400": { $ref: "#/components/responses/NestedValidationError" }
        "404": { $ref: "#/components/responses/NestedNotFound" }

  /games/{gameId}/sets:
    parameters:
      - { name: gameId, in: path, required: true, description: "Declared but currently ignored - always returns Riftbound's sets.", schema: { type: string } }
    get:
      tags: [Games]
      summary: Get card sets
      security: []
      description: Currently hard-coded to serve the static Riftbound sets data file regardless of the path parameter.
      responses:
        "200": { description: Sets. }

  # ---------------------------------------------------------------- Lairs
  /lairs:
    get:
      tags: [Lairs]
      summary: Search lairs (game stores / venues)
      security: []
      description: Always anonymous - private lairs are never returned by this endpoint.
      parameters:
        - { name: gameId, in: query, schema: { type: string } }
        - { name: search, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 100 } }
      responses:
        "200":
          description: Paginated lairs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lairs: { type: array, items: { $ref: "#/components/schemas/Lair" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Leagues
  /leagues/{leagueId}/ranking:
    parameters:
      - { name: leagueId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Leagues]
      summary: Get a league's participant ranking
      description: >
        Public leagues are visible anonymously. Private leagues require the
        caller to be a participant or organizer (returns 403, even when not
        logged in). Note: league search/create/update/delete and match
        reporting are implemented as Next.js server actions
        (`app/leagues/actions.ts`), not as REST endpoints, and so are not part
        of this API surface.
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 16, maximum: 100 } }
      responses:
        "200":
          description: Paginated ranking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants: { type: array, items: { $ref: "#/components/schemas/LeagueRankingParticipant" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- News
  /news:
    get:
      tags: [News]
      summary: List/search news
      security: []
      parameters:
        - { name: gameId, in: query, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
        - { name: tag, in: query, schema: { type: string } }
        - { name: dateFrom, in: query, schema: { type: string, format: date-time } }
        - { name: dateTo, in: query, schema: { type: string, format: date-time } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
        - { name: includeTags, in: query, description: "Set to `true` to include the distinct list of all tags.", schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Paginated news.
          content:
            application/json:
              schema:
                type: object
                properties:
                  news: { type: array, items: { $ref: "#/components/schemas/News" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  tags: { type: array, items: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [News]
      summary: Create a news article
      description: Requires permission `news:update`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, summary, content]
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                summary: { type: string, minLength: 1, maxLength: 500 }
                content: { type: string, minLength: 1 }
                banner: { type: string, format: uri }
                gameIds: { type: array, items: { type: string, pattern: "^[0-9a-fA-F]{24}$" }, default: [] }
                tags: { type: array, items: { type: string, minLength: 1, maxLength: 50 }, default: [] }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/News" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /news/{newsId}:
    parameters:
      - { name: newsId, in: path, required: true, schema: { type: string } }
    get:
      tags: [News]
      summary: Get a news article
      security: []
      responses:
        "200": { description: News., content: { application/json: { schema: { $ref: "#/components/schemas/News" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [News]
      summary: Update a news article
      description: Requires permission `news:update`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                summary: { type: string, minLength: 1, maxLength: 500 }
                content: { type: string, minLength: 1 }
                banner: { type: string, format: uri }
                gameIds: { type: array, items: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
                tags: { type: array, items: { type: string, minLength: 1, maxLength: 50 } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/News" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /news/{newsId}/like:
    parameters:
      - { name: newsId, in: path, required: true, schema: { type: string } }
    post:
      tags: [News]
      summary: Toggle like on a news article
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: New like state.
          content:
            application/json:
              schema: { type: object, properties: { liked: { type: boolean }, likesCount: { type: integer } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /news/upload:
    post:
      tags: [News]
      summary: Upload a news banner image
      description: Requires permission `news:update`. `multipart/form-data`, field `file` (JPG/PNG/WebP, max 5 MB).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties: { file: { type: string, format: binary } }
      responses:
        "200": { description: Uploaded., content: { application/json: { schema: { type: object, properties: { url: { type: string } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Play Groups
  /play-groups:
    get:
      tags: [Play Groups]
      summary: List the caller's play groups
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Groups., content: { application/json: { schema: { type: object, properties: { groups: { type: array, items: { $ref: "#/components/schemas/PlayGroup" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Play Groups]
      summary: Create a play group (caller becomes owner)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [name], properties: { name: { type: string }, description: { type: string } } }
      responses:
        "201": { description: Created., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /play-groups/{playGroupId}:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: Get a play group (members only)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Group., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [Play Groups]
      summary: Set which games are enabled for this group's shared collection (owner/admin only)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabledGameIds]
              properties:
                enabledGameIds: { type: array, items: { type: string }, maxItems: 500, nullable: true, description: "null re-enables every game." }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /play-groups/{playGroupId}/members:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: List a play group's members
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  group: { type: object, properties: { id: { type: string }, name: { type: string }, description: { type: string } } }
                  currentUserRole: { type: string, enum: [owner, admin, member] }
                  members: { type: array, items: { $ref: "#/components/schemas/PlayGroupMember" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Play Groups]
      summary: Invite a user to a play group (owner/admin only)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIdentifier]
              properties: { userIdentifier: { type: string, description: "Email, displayName#discriminator tag, or user id." } }
      responses:
        "201": { description: Invitation created., content: { application/json: { schema: { type: object, properties: { invitation: { $ref: "#/components/schemas/PlayGroupInvitation" } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Already a member, or an invitation is already pending.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /play-groups/{playGroupId}/members/{memberId}:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
      - { name: memberId, in: path, required: true, description: "Target member's user id.", schema: { type: string } }
    patch:
      tags: [Play Groups]
      summary: Change a member's role (owner only)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [role], properties: { role: { type: string, enum: [admin, member] } } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Play Groups]
      summary: Remove a member (owner/admin only; admins cannot remove owners or other admins)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /play-groups/{playGroupId}/collection:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: Get a play group's shared collection overview
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: includeEmpty, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200": { description: Overview., content: { application/json: { schema: { $ref: "#/components/schemas/CollectionOverview" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /play-groups/{playGroupId}/collection/cards:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Play Groups]
      summary: Add a card to a play group's shared collection
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionCardInput" }
      responses:
        "200": { description: Added., content: { application/json: { schema: { type: object, properties: { id: { type: string } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: "The card's game is not enabled for this group.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /play-groups/{playGroupId}/collection/cards/{cardId}:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
      - { name: cardId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: Get every copy of a card in a play group's shared collection
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Owned copies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quantity: { type: integer }
                  cards: { type: array, items: { $ref: "#/components/schemas/CollectionCardEntry" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Play Groups]
      summary: Mark/unmark a shared collection entry as borrowed (any member)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId, borrowedBy]
              properties: { entryId: { type: string }, borrowedBy: { type: string, nullable: true } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { type: object, properties: { id: { type: string }, borrowedBy: { type: string } } } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Play Groups]
      summary: Remove a card from a play group's shared collection
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: entryId, in: query, schema: { type: string } }
      responses:
        "200": { description: Removed., content: { application/json: { schema: { type: object, properties: { success: { type: boolean } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /play-groups/{playGroupId}/collection/games/{gameSlug}:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: Get a play group's collection completion for a specific game
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: search, in: query, schema: { type: string } }
        - { name: owned, in: query, schema: { type: string, enum: ["true", "false"] } }
      responses:
        "200":
          description: Game collection page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { type: object } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  setCodes: { type: array, items: { type: string } }
                  types: { type: array, items: { type: string } }
                  stats: { $ref: "#/components/schemas/GameCollectionStats" }
                  game: { type: object, properties: { id: { type: string }, name: { type: string }, slug: { type: string } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: "Group or game not found, or game disabled for this group.", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "500": { $ref: "#/components/responses/ServerError" }

  /play-groups/{playGroupId}/collection/games/{gameSlug}/variants:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
      - { name: gameSlug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: List all owned printings/variants of a card by name in a play group's collection
      security: [{ sessionAuth: [] }]
      parameters:
        - { name: name, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Variants (raw array).
          content:
            application/json:
              schema: { type: array, items: { type: object } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /play-groups/{playGroupId}/sell-list:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: Get a play group's sell list (auto-created for a member landing on an empty group)
      security: [{}, { sessionAuth: [] }]
      responses:
        "200": { description: Sell list., content: { application/json: { schema: { type: object, properties: { sellList: { allOf: [{ $ref: "#/components/schemas/SellList" }], nullable: true }, canEdit: { type: boolean } } } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /play-groups/{playGroupId}/sell-list/items:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Play Groups]
      summary: List a shared collection card for sale on behalf of the play group
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SellListItemInput" }
      responses:
        "201": { description: Listed., content: { application/json: { schema: { $ref: "#/components/schemas/SellListItem" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Card already for sale., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /play-groups/{playGroupId}/wishlists:
    parameters:
      - { name: playGroupId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Play Groups]
      summary: List a play group's wishlists
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Wishlists., content: { application/json: { schema: { type: object, properties: { wishlists: { type: array, items: { $ref: "#/components/schemas/Wishlist" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Play Groups]
      summary: Create a wishlist for a play group
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                description: { type: string, maxLength: 2000 }
                visibility: { type: string, enum: [private, unlisted, public], default: private }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/Wishlist" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: A wishlist with this name already exists for this group., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /play-groups/invitations:
    get:
      tags: [Play Groups]
      summary: List the caller's pending play group invitations
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Invitations., content: { application/json: { schema: { type: object, properties: { invitations: { type: array, items: { $ref: "#/components/schemas/PlayGroupInvitation" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /play-groups/invitations/{invitationId}:
    parameters:
      - { name: invitationId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Play Groups]
      summary: Accept a play group invitation
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Joined., content: { application/json: { schema: { type: object, properties: { group: { $ref: "#/components/schemas/PlayGroup" } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Quizzes
  /quizzes:
    get:
      tags: [Quizzes]
      summary: List/search quizzes
      security: []
      parameters:
        - { name: gameId, in: query, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10, maximum: 50 } }
      responses:
        "200":
          description: Paginated quizzes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quizzes: { type: array, items: { $ref: "#/components/schemas/Quiz" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
        "400": { $ref: "#/components/responses/ValidationError" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Quizzes]
      summary: Create a quiz
      description: Requires permission `quizzes:update`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizInput" }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/Quiz" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /quizzes/{quizId}:
    parameters:
      - { name: quizId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Quizzes]
      summary: Get a quiz
      security: []
      responses:
        "200": { description: Quiz., content: { application/json: { schema: { $ref: "#/components/schemas/Quiz" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: [Quizzes]
      summary: Update a quiz
      description: Requires permission `quizzes:update`.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/QuizInput"
              minProperties: 1
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/Quiz" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Sell Lists
  /sell-lists/{sellListId}:
    parameters:
      - { name: sellListId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    get:
      tags: [Sell Lists]
      summary: Get a sell list
      security: []
      description: Sell lists are always publicly viewable; session is only used to compute `canEdit`.
      responses:
        "200":
          description: Sell list.
          content:
            application/json:
              schema:
                type: object
                properties: { sellList: { $ref: "#/components/schemas/SellList" }, canEdit: { type: boolean } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Sell Lists]
      summary: Update a sell list's description (owner or play-group member)
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, minProperties: 1, properties: { description: { type: string, maxLength: 2000 } } }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/SellList" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Sell Lists]
      summary: Delete a sell list and all its items
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /sell-lists/{sellListId}/items:
    parameters:
      - { name: sellListId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Sell Lists]
      summary: List/search a sell list's items
      security: []
      parameters:
        - { name: gameId, in: query, schema: { type: string } }
        - { name: setCode, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: condition, in: query, schema: { type: string } }
        - { name: foil, in: query, schema: { type: string, enum: ["true", "false"] } }
        - { name: language, in: query, schema: { type: string } }
        - { name: priceMin, in: query, schema: { type: number } }
        - { name: priceMax, in: query, schema: { type: number } }
        - { name: search, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
      responses:
        "200":
          description: Paginated items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/SellListItem" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  games: { type: array, items: { type: object, properties: { gameId: { type: string }, gameName: { type: string }, gameSlug: { type: string } } } }
                  setCodes: { type: array, items: { type: string } }
                  types: { type: array, items: { type: string } }
                  conditions: { type: array, items: { type: string } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Sell Lists]
      summary: List a card for sale
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SellListItemInput" }
      responses:
        "201": { description: Listed., content: { application/json: { schema: { $ref: "#/components/schemas/SellListItem" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Card already for sale., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /sell-lists/{sellListId}/items/{itemId}:
    parameters:
      - { name: sellListId, in: path, required: true, schema: { type: string } }
      - { name: itemId, in: path, required: true, schema: { type: string } }
    patch:
      tags: [Sell Lists]
      summary: Update a sell list item's price/currency/note
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                price: { type: number, minimum: 0, maximum: 1000000, nullable: true }
                currency: { type: string, enum: [EUR, USD, GBP, JPY, CNY] }
                note: { type: string, maxLength: 300 }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/SellListItem" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Sell Lists]
      summary: Remove a sell list item
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /sell-lists/mine:
    get:
      tags: [Sell Lists]
      summary: Get the caller's own sell list (null if they haven't listed anything yet)
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Sell list., content: { application/json: { schema: { type: object, properties: { sellList: { allOf: [{ $ref: "#/components/schemas/SellList" }], nullable: true } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /sell-lists/mine/items:
    post:
      tags: [Sell Lists]
      summary: List one of the caller's own collection cards for sale
      description: Transparently creates the caller's personal sell list on first use.
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SellListItemInput" }
      responses:
        "201": { description: Listed., content: { application/json: { schema: { $ref: "#/components/schemas/SellListItem" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Card already for sale., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  # ---------------------------------------------------------------- Upload
  /upload:
    post:
      tags: [Upload]
      summary: Generic admin file upload
      description: Admin-only (caller's email must be in the hardcoded admin allowlist).
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties: { file: { type: string, format: binary, description: "JPEG/PNG/WebP/GIF, max 5 MB." } }
      responses:
        "200":
          description: Uploaded.
          content:
            application/json:
              schema:
                type: object
                properties: { url: { type: string }, pathname: { type: string }, contentType: { type: string } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Users
  /users/{userTagOrId}:
    parameters:
      - { name: userTagOrId, in: path, required: true, description: "Mongo ObjectId, or `{displayName}{discriminator}` (no separator — the discriminator is the last 4 characters).", schema: { type: string } }
    get:
      tags: [Users]
      summary: Get a user's public profile
      description: Always returns id/username/displayName/discriminator/avatar/description/website/socialLinks. `games`/`lairs`/`achievements` are only populated if the user has enabled `isPublicProfile` (empty arrays otherwise).
      security: []
      responses:
        "200": { description: Public profile., content: { application/json: { schema: { $ref: "#/components/schemas/PublicUserProfile" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /users/{userTagOrId}/wishlists:
    parameters:
      - { name: userTagOrId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Users]
      summary: List a user's public wishlists
      security: []
      responses:
        "200": { description: Public wishlists., content: { application/json: { schema: { type: object, properties: { wishlists: { type: array, items: { $ref: "#/components/schemas/Wishlist" } } } } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  /users/{userTagOrId}/sell-list:
    parameters:
      - { name: userTagOrId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Users]
      summary: Get a user's sell list (sell lists are always public)
      security: []
      responses:
        "200": { description: Sell list., content: { application/json: { schema: { type: object, properties: { sellList: { allOf: [{ $ref: "#/components/schemas/SellList" }], nullable: true } } } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }

  # ---------------------------------------------------------------- Wishlists
  /wishlists:
    get:
      tags: [Wishlists]
      summary: List the caller's own personal wishlists
      security: [{ sessionAuth: [] }]
      responses:
        "200": { description: Wishlists., content: { application/json: { schema: { type: object, properties: { wishlists: { type: array, items: { $ref: "#/components/schemas/Wishlist" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Wishlists]
      summary: Create a personal wishlist
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                description: { type: string, maxLength: 2000 }
                visibility: { type: string, enum: [private, unlisted, public], default: private }
      responses:
        "201": { description: Created., content: { application/json: { schema: { $ref: "#/components/schemas/Wishlist" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: A wishlist with this name already exists., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /wishlists/mine:
    get:
      tags: [Wishlists]
      summary: Get every wishlist the caller can add a card to (personal + each play group)
      security: [{ sessionAuth: [] }]
      responses:
        "200":
          description: Personal and group wishlists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  personal: { type: array, items: { $ref: "#/components/schemas/Wishlist" } }
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        group: { type: object, properties: { id: { type: string }, name: { type: string } } }
                        wishlists: { type: array, items: { $ref: "#/components/schemas/Wishlist" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }

  /wishlists/{wishlistId}:
    parameters:
      - { name: wishlistId, in: path, required: true, schema: { type: string, pattern: "^[0-9a-fA-F]{24}$" } }
    get:
      tags: [Wishlists]
      summary: Get a wishlist
      security: []
      description: Session optional; used to compute `canEdit` and view access for non-public wishlists.
      responses:
        "200":
          description: Wishlist.
          content:
            application/json:
              schema:
                type: object
                properties: { wishlist: { $ref: "#/components/schemas/Wishlist" }, canEdit: { type: boolean } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Wishlists]
      summary: Update a wishlist
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                description: { type: string, maxLength: 2000 }
                visibility: { type: string, enum: [private, unlisted, public] }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/Wishlist" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: A wishlist with this name already exists for this owner., content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    delete:
      tags: [Wishlists]
      summary: Delete a wishlist and all its items
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /wishlists/{wishlistId}/items:
    parameters:
      - { name: wishlistId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Wishlists]
      summary: List/search a wishlist's items
      security: []
      description: Session optional; when present, each item is annotated with `ownedQuantity` reflecting how many the current viewer personally owns.
      parameters:
        - { name: gameId, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: search, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 96 } }
        - { name: minOwned, in: query, schema: { type: integer, minimum: 0 } }
      responses:
        "200":
          description: Paginated items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/WishlistItem" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }
                  games: { type: array, items: { type: object, properties: { gameId: { type: string }, gameName: { type: string }, gameSlug: { type: string } } } }
                  types: { type: array, items: { type: string } }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: [Wishlists]
      summary: Add a card to a wishlist
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardId, gameSlug, name, setCode, collectorNumber, image]
              properties:
                cardId: { type: string, minLength: 1, maxLength: 100 }
                gameSlug: { type: string, minLength: 1, maxLength: 100 }
                name: { type: string, minLength: 1, maxLength: 200 }
                setCode: { type: string, minLength: 1, maxLength: 100 }
                collectorNumber: { type: string, minLength: 1, maxLength: 100 }
                image: { type: string }
                type: { type: string }
                quantity: { type: integer, minimum: 1, maximum: 99, default: 1 }
                note: { type: string, maxLength: 300 }
      responses:
        "201": { description: Added., content: { application/json: { schema: { $ref: "#/components/schemas/WishlistItem" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /wishlists/{wishlistId}/items/{itemId}:
    parameters:
      - { name: wishlistId, in: path, required: true, schema: { type: string } }
      - { name: itemId, in: path, required: true, schema: { type: string } }
    patch:
      tags: [Wishlists]
      summary: Update a wishlist item's quantity/note
      security: [{ sessionAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                quantity: { type: integer, minimum: 1, maximum: 99 }
                note: { type: string, maxLength: 300 }
      responses:
        "200": { description: Updated., content: { application/json: { schema: { $ref: "#/components/schemas/WishlistItem" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Wishlists]
      summary: Remove a wishlist item
      security: [{ sessionAuth: [] }]
      responses:
        "204": { description: Deleted. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------------------------------------------------------- Cron
  /cron/refresh-events:
    get:
      tags: [Cron]
      summary: Refresh events for every lair from their event source URLs
      security: [{ cronSecret: [] }]
      responses:
        "200":
          description: Refresh summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  summary: { type: object, properties: { total: { type: integer }, successes: { type: integer }, failures: { type: integer } } }
                  results: { type: array, items: { type: object } }
        "401": { $ref: "#/components/responses/Unauthorized" }
[...]
